[2017-07-09 08:12] Olivered commented on #977
*build* it in docker. I mean, why go to the hassle of setting up a cross-platform gcc toolchain so you .can compile elf while you compile your elf dawg

[2017-07-10 01:08] thotheolh opened #989 "Livedisk.iso stuck on bootloading on raw metal test"
Livedisk.iso for version 0.2.0 was burnt into a DVD and attempted to boot on 'raw metal' and it initially booted to a question with '(s)ave, (y)es, (n)o' options to be choosen from which seems like screen size to me.

After the selection of '(y)es' option, it shows the following messsage:

It just continues to hang there with no way to input anything.

[2017-07-10 01:11] xTibor opened #990 "Panic on killing processes"
**Reproduction**:
I could only reproduce it with the recently added `rustual-boy` emulator.

1. Login into Orbital
2. Open a Terminal window
3. Run `rustual-boy-cli /path/some_rom_anything.vb`.
4. Open an another Terminal window
5. Run `ps`. Find the two process ids of the emulator.
6. Run `kill 9 <first_process_id>`
7. Run `kill 9 <second_process_id>`
8. Panic

**Actual behavior**:
The kernel pan

[2017-07-10 15:04] Csega opened #991 "qemu does not work with the newest revision"
Hi guys,

I got the following problem with the last few version (including the latest master revision).

**Reproduction**: make a clean installation using the newest bootstrap.sh, then cd redox, then make all, then make qemu kvm=no

**Expected behavior**: Successful build and a working system.

**Actual behavior**: the build is successful, however, the make qemu kvm=no has the following output:

m

[2017-07-10 15:23] xTibor commented on #991
Do you have enough free memory in your system? "Cannot allocate memory" suggests your system might have run out of memory. At least 2 gigabytes of free RAM needed to run `make qemu` by default.

I can reproduce this error on my machine by increasing `-m 2048` in `/mk/qemu.mk` to an unreasonably high value.

[2017-07-10 17:16] Csega commented on #991
So far it worked. But I try to increase the allocated memory (I run redox on a virtual machine).

[2017-07-11 06:51] Csega commented on #991
Sorry, my bad, this was the problem. I just double the amount of RAM (from 1 GB to 2 GB) for the virtual machine, and it worked again. But so far it went with 1 GB too. Does this mean, that Redox requirements for RAM increased?

[2017-07-11 06:51] #991 closed

[2017-07-11 22:38] stavpup commented on #724
Doing what libreoffice did maybe the way to go
https://www.libreoffice.org/about-us/licenses/

"but we do ask that you license your code to us jointly under both the Mozilla Public License v2 and the GNU Lesser GPL v3+ licenses."

and
https://wiki.documentfoundation.org/Development/Re-Basing

[2017-07-12 00:00] spease commented on #696
I might be interested in helping with Redox UI stuff too. :)

[2017-07-12 08:41] minecrawler commented on #696
Imho, I really love the idea behind Redox. Having a very stable system, which uses proven, intuitive concepts users can directly recognize and love, is a very good base. See Debian, which is also very conservative. So many other systems build on top of it because of that! That's the Redox I was introduced and that's the Redox I want to see. It would allow the average user to switch from their Wind

[2017-07-13 15:40] leeoniya opened #994 "grub4dos & isolinux compatibility?"
hi,

i decided to try booting `redox_0.3.0.iso` from my multi-boot drive. the typical bootable iso entry in `menu.lst` looks like this: https://gist.github.com/poppen/3161814

[code]

redox appears to fail image decompression with "Not enough memory to decompress image". this grab is from QEMU, but i get the same result on my Lenovo T440s.

![redox-grub4dos-qemu](https://user-images.githubusercont

[2017-07-13 16:51] eguven commented on #937
I had the same issue with VirtualBox that was solved by choosing KVM paravirtualization in VM settings.

[2017-07-14 01:43] mominul commented on #994
You might need to increase RAM size. I have tested with 1GB.

[2017-07-14 05:48] leeoniya commented on #994
where? i ran this on a physical machine w/ 12GB. is there a setting in grub4dos or GRLDR to tweak how much it gets access to?

the thing is, i can successfully boot Linux Mint, gparted, clonezilla, Manjaro, Win10 isos, etc. without any problems. and all of them are much larger than Redox. so i'm thinking it's not a RAM issue.

[2017-07-15 13:26] bjorn3 commented on #994
Run qemu with `-m 1024` to increase the memory usable withim the vm to 1 GB.

[2017-07-16 00:19] skierpage opened #997 "bootstrap.sh on Fedora does not progress past PKGS if all are present"
**Reproduction**: I ran boostrap.sh, it installed all the Fedora dependencies but then rustup ran out of space. I got rustup working and re-ran `bash -e bootstrap.sh` but all it prints is
[code]

**Expected behavior**: bootstrap.sh should continue on to invoke `boot`

**Actual behavior**: I ran `bash -evx bootstrap.sh` and it just stops after
[code]
It should continue on to COUNT PKGS and then go

[2017-07-16 17:50] richiejp commented on #970
When doing `git submodule status` I get `Warn: rust doesn't contain commit f2eacbe39586ca5ae673ee838759c0cc74f4f152`. If I checkout the previous commit in libc and try updating the submodules it works.

[2017-07-18 18:17] fedtf commented on #970
Same problem here, also on Arch Linux. I have used PKGBUILDs and run ```./setup.h all``` from libc. Now I have several utilities x86_64-elf-redox-* (those which are in /build/pref/bin), but x86_64-elf-redox-gcc is not one of them, so compilation still fails with the same error.

[2017-07-19 02:51] leeoniya commented on #994
thanks for the tips. i got it to load the image in qemu by upping the ram. unfortunately i cannot find any settings to do the same during a live boot on actual hardware.

it would be great if Redox could work out-of-the-box with the same default settings which suffice for much larger linux distros :)

[2017-07-19 16:50] 3442853561 opened #999 "It still can't run in VMware(Windows 10)"
like https://github.com/redox-os/redox/issues/821

[2017-07-19 17:17] 3442853561 opened #1000 "It seem like can not Startup Arch"
I waited about ten minutes
Just stay in "Startup Arch"

[2017-07-19 17:34] xTibor commented on #999
Could you fill out the [issue template](https://github.com/redox-os/redox/blob/master/.github/ISSUE_TEMPLATE) and include your system specs with your VMware config? That would greatly help diagnosing your problem.

[2017-07-21 10:36] Csega opened #1001 "gawk does not build with the newest commit"
**Reproduction**: use the latest bootstrap.sh, then cd redox, then make all

**Expected behavior**: build redox correctly

**Actual behavior**: gawk does not build

**Build information**: `rustc -V`: rustc 1.20.0-nightly (ae98ebfcb 2017-07-20)
                                    `git rev-parse HEAD`: c8d7b6d773a70170c312da7d21f2a506b578305b
                                    `qemu-i386 -version`:

[2017-07-21 13:03] jackpot51 commented on #1001
Is your Redox cross compiler up to date?

[2017-07-22 05:04] ids1024 commented on #1001
This error shouldn't occur if you have the latest Redox newlib (which changes a lot as C programs are ported, adding things like this).

[2017-07-22 14:09] bjorn3 commented on #1000
You need to give the virtual machine at least 1GB of ram.

[2017-07-22 14:13] bjorn3 commented on #994
Did you run it on a 64 bit computer?

[2017-07-22 14:49] rofrol commented on #615
I don't think Redox GUI needs to be rendered with Servo. It should be minimal (and OS gui should be minimal - window decorations? taskbar? what else is neede?) and later apps can be built using Servo/Webassembly/Houdini and when OS exposes needed API they will native-like. This way Redox progress will be faster in essential os development.

So file manager, music player etc. can be built on top of

[2017-07-22 17:03] leeoniya commented on #994
yep

[2017-07-22 22:06] Csega commented on #1001
How should I check it?

[2017-07-22 22:20] ids1024 commented on #1001
You should install a new version of newlib however you installed the toolchain (from the .deb in https://static.redox-os.org/toolchain/apt/, from the Arch PKGBUILD in https://github.com/redox-os/libc, using the ./setup.sh script in that repo, etc.)

You should only need to update that, and not the rest of the toolchain.

[2017-07-23 00:25] Amavect commented on #989
I have exactly the same issue here. The differences for me are:
* I used ISO version 0.3.0 supplied from https://github.com/redox-os/redox/releases/tag/0.3.0
* I booted from a USB

[2017-07-23 03:52] C0DEHERO commented on #989
Same thing happens here with VirtualBox and on libvirt KVM.

[2017-07-23 04:52] flomop opened #1003 "Failed to compile on Arch"
**Reproduction**:
On Arch linux:

➜  redox git:(master) sudo ln -s ~/.cargo/bin/xargo /usr/bin/xargo
➜  redox git:(master) git submodule update --init --recursive
➜  redox git:(master) make all
cd kernel && xargo clean
rm -rf build/initfs
cargo run --manifest-path installer/Cargo.toml -- --cookbook=cookbook initfs.toml
    Finished dev [unoptimized + debuginfo] target(s) in 0.0 secs
     Running `

[2017-07-23 11:07] embasoft commented on #1003
There are PKGBUILDs for "x86_64-elf-redox-gcc" in "libc/packages/arch". Look at this comment for more information: https://github.com/redox-os/redox/issues/970#issuecomment-310915513

[2017-07-24 18:08] 3442853561 commented on #1000
@bjorn3 Of course, however it just stay in "Startup Arch"

[2017-07-24 18:10] ids1024 commented on #1000
I guess the problem here is probably that error messages from the kernel are being printed to the serial console, which you can see if you run in qemu, but not (by default) in virtualbox or on real hardware.

[2017-07-24 18:13] 3442853561 commented on #1000
@ids1024  I run it in qemu by
`qemu-system-x86_64 -boot d -cdrom redox_0.3.0.iso -m 1536`

[2017-07-24 18:17] ids1024 commented on #1000
Perhaps try adding `-serial mon:stdio` and looking at the terminal; look at https://github.com/redox-os/redox/blob/master/mk/qemu.mk for the arguments that should be passed to qemu.

[2017-07-24 18:24] 3442853561 commented on #1000
[code]

[2017-07-24 18:41] ids1024 commented on #1000
You can try increasing the memory, but the ISO isn't really ideal for using in a VM.

There is a .bin attached to [the release](https://github.com/redox-os/redox/releases/tag/0.3.0). It seems to work well with this command (based on the Makefile):

`qemu-system-x86_64 -serial mon:stdio -d cpu_reset -d guest_errors -smp 4 -m 1024 -s -machine q35 -device ich9-intel-hda -device hda-duplex -net nic,mo

[2017-07-25 16:37] Csega commented on #1001
Thanks, it works after I updated the libraries. Is there a way to upgrade these automatically (I mean using apt update && apt upgrade)?

[2017-07-25 16:37] #1001 closed

[2017-07-28 12:05] garasubo commented on #970
I met the same problem in Fedora. I finally decided to use Docker because required toolchain were difficult to compile in my local environment.

[2017-07-28 14:16] sinkarharshad opened #1009 "error: build failed (ubuntu 16.04)"
Trying to compile redox:
[code]
Can anyone please help me to resolve this issue?
(referred #977 already, but did not help)
Thank you in advance.

[2017-07-28 14:30] jackpot51 commented on #1009
You must install the cross compiler. Instructions here: https://github.com/redox-os/cookbook

[2017-07-29 19:58] moonheart08 opened #1010 "Failed to compile"
**Reproduction**: Run a general build.
**Expected behavior**: Successful build of redox.

**Actual behavior**: https://pastebin.com/gWwehuth

**Build information**: rustc 1.21.0-nightly (126321e2e 2017-07-28)
6aec74ec2c1d783576845fef02f06074720bd7d7
Linux debian 4.12.0-041200-generic #201707022031 SMP Mon Jul 3 00:32:52 UTC 2017 x86_64 GNU/Linux

[2017-07-29 21:19] ticki opened #1011 "Clean up repo"

[2017-07-29 21:22] ticki commented on #1011
test

[2017-07-31 11:08] #1009 closed

[2017-07-31 11:22] sinkarharshad opened #1012 "Not able to open redox-terminal (qemu)"
Reproduction: Trying to open the terminal in redox (Ubuntu 16.04 -> Using qemu + I can access another applications e.g. calculator, File Manager etc)

Expected behavior: Terminal should get open

Actual behavior: Even after several clicks, not able to open terminal

Build information:
[code]
I checked the boot-window ("F1") and it says: (When I click terminal icon)
[code]
How to resolve this one?

[2017-08-01 06:36] sinkarharshad commented on #1012
@jackpot51 Can you please help me with this?

[2017-08-01 10:47] ctaggart commented on #931
That did install sodium. I was able to launch it by running `/ui/bin/sodium`, but I have no idea how to use it.

[2017-08-01 13:02] sinkarharshad commented on #1012
I followed #960 stated by @jackpot51, and its working now.

[2017-08-01 13:26] #1012 closed

[2017-08-04 18:55] fralix opened #1014 "Failed to boot: No bootable devices"
**Reproduction**:
Compiled Redox and typing `make qemu` or `make qemu kvm=no` as described in the book

**Expected behavior**:
Some boot shell

**Actual behavior**:
"No bootable devices" in QEMU.

[code]
and QEMU looks like http://imgur.com/a/DqJhF

**Build information**:
[code]

**Misc**:
build folder is set to chmod 775.

[2017-08-05 08:47] mrDSide commented on #1010
Compilation error on Debian 9.1 - https://pastebin.com/WWcVutyk
Rust ver.: rustc 1.21.0-nightly (1d2a6df38 2017-08-03)
Debian ver.: buster/sid
Kernel ver.: Linux racket 4.11.0-2-amd64 #1 SMP Debian 4.11.11-1 (2017-07-22) x86_64 GNU/Linux

[2017-08-05 14:36] xTibor commented on #1010
@mrDSide It looks like you're missing the Redox GCC cross compiler. You can install it by following these steps: https://github.com/redox-os/cookbook/blob/master/README.md

[2017-08-05 19:15] sinkarharshad opened #1015 "failed to run redox (ubuntu 17.04)"
Reproduction: make qemu

Expected behavior: Redox should run

Actual behavior:
[code]
Can anyone help with this issue?
Thank you in advance.

[2017-08-05 19:56] GuillaumeGomez opened #1016 "Adding redox support for sysinfo?"
I asked a few times ago on IRC if redox people would be interested in having a process-viewer. However, gtk isn't yet supported so it's not possible for the moment. Though, [sysinfo](https://github.com/guillaumegomez/sysinfo) could be useful. So would it be worth it for me to add redox support in `sysinfo`?

[2017-08-06 13:02] jackpot51 commented on #923
ArgParser is now in https://github.com/redox-os/arg-parser

[2017-08-06 13:02] #923 closed

[2017-08-07 12:31] JacobSinclair opened #1017 "Failed to compile on windows (Cygwin)"
I tried to compile Redox on windows with cygwin (gcc, g++, curl and make), and I got this error:
[code]

[2017-08-07 13:19] sinkarharshad opened #1018 "Thread panicked in redox"
Reproduction: Created two threads rust, compiled and work fine. Then I moved my code to redox recipes. I compiled redox successfully. But unfortunately not able to run threads in redox shell.

My Code: main.rs

[code]
Expected behavior: Output which I should get:
[code]
Actual behavior: Output which I am getting in redox's shell:
[code]

What m I doing wrong here?
Thank you in advance.

[2017-08-07 13:29] jackpot51 commented on #1018
You aren't doing anything wrong, I need to look at the libstd location where that panic is generated

[2017-08-07 14:07] sinkarharshad commented on #1018
@jackpot51 I changed my code: (just added one line: ```let res1 = parent.join();```)
[code]
Its working fine now without any panic.

[2017-08-07 14:35] jackpot51 commented on #1018
Main thread probably drops stdio on exit, causing this to happen

[2017-08-07 14:38] sinkarharshad commented on #1018
Yes, I guess. Should I close this issue?

[2017-08-07 14:42] jackpot51 commented on #1018
No, if running on Linux produces different results then we need to modify the Redox sys module

[2017-08-07 16:52] Pharaone opened #1019 "Redox doesn't start on real hardware"
**Reproduction**: [burn the redox's  iso into an USB drive and boot it from a pc.]

**Expected behavior**: [the OS starts.]

**Actual behavior**: [all crashes during the boot, so the pc restarts and restarts endlessy.

**Build information**: [Acer aspire one d225,Intel atom n450, 2,00GB of ram.]
**Redox release**: [0.3.0]

[2017-08-07 16:58] Pharaone commented on #1019
![index](https://user-images.githubusercontent.com/17162630/29037067-51a9501c-7ba2-11e7-8461-57d205e5cd61.jpg)

[2017-08-07 17:10] ids1024 commented on #1019
I don't see an error of any kind in that screenshot...

How much RAM does the computer you're testing on have?

[2017-08-07 17:11] Pharaone commented on #1019
2gb

Il 07 ago 2017 7:10 PM, "Ian Douglas Scott" <notifications@github.com> ha
scritto:

[2017-08-07 17:18] jackpot51 commented on #1019
Yeah, you will need a more RAM to load it. The live ISO has to store the whole uncompressed filesystem in RAM

[2017-08-07 17:22] Pharaone commented on #1019
Will it change with the next versions?

[2017-08-07 17:25] ids1024 commented on #1019
@jackpot51 I guess it's not too straightforward to make it smarter, and require only the RAM for currently used space, right? I think that would require that Redox have something like Linux tmpfs; and I don't know if it would be possible to populate the tmpfs without a USB mass storage driver...

But once a mass storage driver is available, Redox could properly boot off of a read/write USB drive,

[2017-08-07 17:37] jackpot51 commented on #1019
I am working on USB, so it is likely we will have a way of having read/write root filesystems on USB sticks

[2017-08-07 18:10] ids1024 opened #1020 "It should be possible to .join() a thread from a thread other than the one that created it"
This code works on Linux, but never terminates on Redox; the `waitpid` call never terminates because it is not the parent of the thread it is waiting on.

I originally saw this issue running rustc on Redox.

[code]

I don't know how this should be solved; only one copy of the `JoinHandle` is possible (`pthread_join` says it has undefined behavior when called from several threads, and Rust of cours

[2017-08-07 18:16] ids1024 commented on #1018
I think this is triggering undefined behavior. If I run this under linux, sometimes it only prints the "child" messages (I don't see a panic though).

The second thread should be `.join`ed, or the process can terminate before it finishes.

The fact that a panic is displayed on Redox but not Linux may still indicate an issue we should address, though. But I think the difference there is simply that

[2017-08-08 08:56] sinkarharshad opened #1021 "build failed : Could not compile `vesad`."
Reproduction: ```make / make all```

Expected behavior: Build process should work

Actual behavior: Here is the problem:
[code]
Tried:
- ``` make update```
- #960 : While fetching getting this error:
[code]
- ```make clean```

Appreciate your help, thank you in advance.

[2017-08-08 12:44] jackpot51 commented on #1021
You need to mafe fetch

[2017-08-08 12:47] sinkarharshad commented on #1021
Got this:
[code]

[2017-08-08 12:51] jackpot51 commented on #1021
After committing the lock files, make update is a maintainer only thing. Run:
rm cookbook/recipes/*/source/Cargo.lock
make fetch

[2017-08-08 13:35] sinkarharshad commented on #1021
It worked like a charm. Thank you!!!

[2017-08-08 13:35] #1021 closed

[2017-08-09 14:51] sinkarharshad commented on #486
@jackpot51  Is there any ```top``` equivalent command or an alternative way where we can measure following listed things: (e.g w.r.t. thread)
- Consumed Time
- Memory
- Number of Context switches (really interested to know as redox is using "bulk-syscalls")
- %cpu used (Just in case if we compare with Linux or any other OS'es)

Appreciate your time and thank you in advance :)

[2017-08-09 15:04] erlend-sh commented on #615
This has also been discussed on the forum:

https://discourse.redox-os.org/t/using-servo-as-an-application-design-tool-when-it-becomes-embeddable/548?u=erlend_sh

Since this is a very open-ended debate I suggest closing this issue so discussion can continue on the forum.

[2017-08-09 18:51] Amavect opened #1022 "0.3.0 Bootup Hangs on Hardware: "Startup Arch""
**Reproduction**: First, I burned the 0.3.0 ISO to a USB flash drive using Rufus, settings supplied below. Then, I changed my boot order so the USB takes priority.

**Expected behavior**: I would expect the boot sequence to reach a point of user input.

**Actual behavior**: After booting, I am able to input my screen resolution. After confirming the correct resolution, a new screen appears and sub

[2017-08-10 09:18] bjorn3 commented on #1022
Is your computer 32 bit or 64 bit?

[2017-08-10 13:51] Amavect commented on #1022
My processor is x64 with x86 compatibility, as I run 64 bit Windows 7.

[2017-08-11 07:07] bjorn3 commented on #1022
Didnt read your completely the first time. Redox doesnt yet support booting from usb.

[2017-08-11 08:43] xTibor commented on #1022
I don't think it's true. [It boots flawlessly](http://i.imgur.com/92oQ10T.jpg) from USB on my Aspire 7750G after `dd`ing the ISO onto a generic 8 gig flash drive.

I suspect Rufus might be the culprit, it has never worked me properly in the past. @Amavect could you try using a simpler app like ROSA ImageWriter to burn the ISO?

[2017-08-11 17:45] Amavect commented on #1022
I burned the ISO using ROSA ImageWriter, and it gave me the exact same issue, hanging on "Startup Arch". I do like the simplicity of the program, however.
I have a hunch it's a hardware compatibility issue, but as I am (currently) an end-user, I have no expertise on what the problem could be.

[2017-08-11 20:43] sinkarharshad opened #1023 "Build failed : (Ubuntu 17.04) : "error: Could not compile `core`.""
Reproduction: ```make all```

Expected behavior: build should get completed successfully

Actual behavior: stuck with: "error: Could not compile `core`."

Build information:
[code]
Help is appreciated, thank you in advance!
Tried:
+ #884

[2017-08-11 21:03] ids1024 commented on #1022
Redox doesn't *properly* support booting from USB; the USB driver is a work in progress. When you boot the ISO it loads the entire file system into RAM in the boot-loader (before starting Redox); that is what most of the messages on the screen indicate.

This clearly is an issue when you don't have much RAM, but that doesn't seem to be the problem here.  Unfortunately the messages displayed on the

[2017-08-11 21:09] ids1024 commented on #1017
I guess this is relevant to that particular issue: https://github.com/ticki/termion/issues/103

You will likely find various other issues though; it is not possible to build Redox on Windows currently (it is normally built under Linux; BSD or macOS should work but are not as well tested). One issue that stands out is a lack of FUSE, which is needed to build the filesystem.

[2017-08-12 13:19] fengalin commented on #1023
Try this as a workaround:
[code]

[2017-08-12 15:48] ids1024 commented on #1023
This should be fixed now. Try `git pull; git submodule update --recursive --init`.

[2017-08-12 16:21] sinkarharshad commented on #1023
@fengalin did not work.
[code]

[2017-08-12 16:36] fengalin commented on #1023
You need to use the line I provided. Don't split it on two lines.
Or use `export` for the first one in that case.

[2017-08-12 17:14] sinkarharshad commented on #1023
@fengalin it did work but stuck again here:
[code]
can you please help me to resolve this one?

[2017-08-12 17:24] ids1024 commented on #1023
@sinkarharshad Have you tried `git pull; git submodule update --recursive --init`?

[2017-08-12 17:26] sinkarharshad commented on #1023
@fengalin Yup I did

[2017-08-12 17:42] fengalin commented on #1023
I don't think I will be able to help you on this one. I suspect a platform related issue.
Just in case, what do you get from the following command:
[code]

[2017-08-12 17:43] sinkarharshad commented on #1023
@fengalin
[code]

any clue?

[2017-08-12 17:47] ids1024 commented on #1023
You can use `make qemu audio=no` to disable audio.

[2017-08-12 17:49] sinkarharshad commented on #1023
[code]
:!

[2017-08-12 18:13] fengalin commented on #1023
If I were you, I'd try to connect a VNC client to the indicated port.
Beside this, quick searches on the web suggest installing `libsdl`.

[2017-08-12 18:19] sinkarharshad commented on #1023
@fengalin " connect a VNC client to the indicated port" how?

[2017-08-12 18:28] fengalin commented on #1023
I meant: install and launch a VNC client and when asked for the server address, use: `127.0.0.1:5901`

[2017-08-13 13:02] Nickforall opened #1025 "Build failed: Could not compile `std`. (E0597)"
I'm not sure if this is an issue with the current build of rust, or redox.

**Reproduction**: `make all` on the latest nightly build
**Expected behavior**:  Redox successfully compiling
**Actual behavior**:

[code]

**Build information**:
* rustc 1.21.0-nightly (f774bced5 2017-08-12)
* git head `3c5116424bdc2330d247fa31c9497446e3898ef5`
* uname `Linux nick-1337-linux 4.4.0-66-generic #87-Ubuntu SM

[2017-08-13 20:34] willir commented on #1025
I'm having the same error.

* OS: ArchLinux.
* rustc 1.21.0-nightly (f774bced5 2017-08-12)
* `redox` git head: `9012517d573025d313a65778d3e35d7fb950d27c`
* `redox/rust` git head: `c7d206ed9544e3ee6b56d14d89f848c4b1251ce8`
* uname: `Linux wilmac 4.12.6-1-ARCH #1 SMP PREEMPT Sat Aug 12 09:16:22 CEST 2017 x86_64 GNU/Linux`

[2017-08-13 21:09] ids1024 commented on #1025
https://github.com/redox-os/redox/commit/c436d81a09e455b3ccb22ec39e948eb2e16cefa9 should fix this.

[2017-08-13 21:17] Nickforall commented on #1025
That fixed it. Thanks.

[2017-08-13 21:17] #1025 closed

[2017-08-18 14:00] lilianmoraru commented on #999
For me, it doesn't start in Windows 7(VMWare).
After I select the desired resolution at startup, it just shows a blank screen(completely black screen).

[2017-08-18 14:37] jackpot51 commented on #999
Can you please try using VirtualBox? I have no method of testing VMWare, and do not expect to support it when there are cross-platform, open source alternatives

[2017-08-22 09:19] Pharaone commented on #1019
I tried it with the new version, but the scripts stop here and the pc is stuck in the way
![e92221fa-e444-4760-a7ac-2e7821ad0d53](https://user-images.githubusercontent.com/17162630/29558227-c84d45ea-872b-11e7-8724-a0378c5a7522.jpeg)

[2017-08-22 17:01] MarcusE1W commented on #999
Hi I am using VirtualBox and face a very similar problem. The Configuration of the box is the same that I used for 0.2 where is worked. After booting the prompt for the display size comes up, and after selecting one the display adjusts to the selected size and then stays blank. No further reaction.

[2017-08-22 19:46] jackpot51 commented on #999
@MarcusE1W are you using 0.3.1? How much memory did you give the machine?

[2017-08-23 07:29] adrianbrink opened #1036 "xargo is missing in the dependencies"
**Reproduction**: Run the installation script and then run `make all`

**Expected behavior**: Installs all dependencies and `make all` runs successfully.

**Actual behavior**: Throws error that `xargo` is missing.

**Solution**: Add `xargo` to dependencies.

[2017-08-23 08:07] adrianbrink opened #1037 "Docker build fails on OSX"
**Reproduction**: Follow the steps in the docker/ on OSX.

**Expected behavior**: README steps work

**Actual behavior**: Error

Run this on OSX.
[code]

Output:
[code]

Output of
[code]

Any help on how to get Redox to build on OSX would be appreciated.

[2017-08-23 12:09] fengalin commented on #1037
According to [this thread](https://stackoverflow.com/questions/43097341/docker-on-macosx-does-not-translate-file-ownership-correctly-in-volumes), the `uid` / `gid` mechanism we use for linux is not necessary for macos. I don't have a mac to test. Could you try the following modifications. If it works, I think we should be able to implement a solution for both systems.

### Get/Update the submodule

[2017-08-23 12:33] adrianbrink commented on #1037
The first step fixes building the container.

I'm trying the second step right now.

[2017-08-23 12:46] adrianbrink commented on #1037
What's the expected output though? Now it is just at `Running ....` and nothing else.

Shouldn't a window open with redox?

[2017-08-23 12:47] adrianbrink commented on #1037
It works, but it takes forever. Do I need to run the `build redox` step every time?

[2017-08-23 12:56] fengalin commented on #1037
Are you getting `Running...` from the build command? You should see compiler outputs.
Once redox is built, you will use `make qemu` to launch the OS. Of course, you won't need to rebuild it every time.

[2017-08-23 12:59] fengalin commented on #1037
I meant: the command starting with `docker run..`

[2017-08-23 14:25] adrianbrink commented on #1037
It took probably a good hour to build (on mac book pro 13" 2015), but it finally runs
I don't think that audio works, but I have a window.

@fengalin How can I submit this as a PR? I guess I can't take it the id stuff completely.

[2017-08-23 14:31] MarcusE1W commented on #999
I was not, but have tried 0.3.1 now. I am afraid it's the same. It adjusts the screen size to the selection and then nothing more happens. My memory is 1G. I have only one IDE drive attached for the iso file, can that be a problem ?

[2017-08-23 14:33] MarcusE1W commented on #999
I noticed that this issue moved a bit target from VMware and Windows 10 to Virtualbox and Windows 7, should I open a new issue ?

[2017-08-23 15:32] jackpot51 commented on #999
@MarcusE1W You must give the virtual machine at least 2 GB of memory.

[2017-08-23 16:02] MarcusE1W commented on #999
Oh, that did it.

[2017-08-23 16:21] fengalin commented on #1037
I'm working on a solution based on our discussion to handle Linux and MacOS. I'll submit a PR when [this one](https://github.com/redox-os/redox/pull/1035) is merged. Meanwhile, since I can't test on MacOS, could you please test what I intend to submit? (See the last part if you don't want to go through a full build just now).

Proceed as follow:
1. Remove your previous redox container.
2. `git clo

[2017-08-24 05:44] adrianbrink commented on #1037
It works :-) It allows me to build and run redox using docker and qemy

[2017-08-24 15:14] fengalin commented on #1037
Great! Thank you! I've updated the README on my branch. I'll submit a PR when the one on the security modules is merged.

[2017-08-25 11:43] sinkarharshad opened #1038 "'build/filesystem.bin' failed : "gcc" : 0.3.1"
Machine: Ubuntu 16.04

Reproduction: Opened `filesystem.toml` and uncommented `gcc`, then performed `make all`

Expected behavior: Build should work fine with gcc support

Actual behavior:
[code]
How to fix and this one?

[2017-08-25 12:47] jackpot51 commented on #1038
You need to install autoconf2.64 on your host system

[2017-08-25 13:44] sinkarharshad commented on #1038
@jackpot51  It worked. Thank you one more time!

[2017-08-25 13:44] #1038 closed

[2017-08-25 18:50] sinkarharshad commented on #1023
@fengalin mate .. it actually worked .. thanks a ton .. love vnc <3

[2017-08-25 23:08] fengalin commented on #1023
Glad to read that! I think you can close the issue.

[2017-08-26 06:26] sinkarharshad commented on #1023
@fengalin yes, thank you again :)

[2017-08-26 06:26] #1023 closed

[2017-08-26 17:29] rschulman commented on #26
Is this issue still relevant given work on the new file system? If we hear nothing in the next 7 days, we will close it.

[2017-08-27 16:45] bcko commented on #1036
I also had the same issue and had to type `cargo install xargo` and run `make all` again. Is anyone working on adding `xargo` to dependencies?

[2017-08-27 19:02] rschulman commented on #351
Is this issue still relevant? If nobody replies in the affirmative within 7 days, we may close this issue.

[2017-08-27 19:02] rschulman commented on #306
Is this issue still relevant? If so, please provide the project with more information. If there's no reply to this issue within 7 days, we may close it.

[2017-08-27 19:03] rschulman commented on #386
Is this issue still relevant? If there's no reply to this issue within 7 days we may close it.

[2017-08-28 08:02] sinkarharshad opened #1041 "Build failed : "use of deprecated item: gcc::Config has been renamed to gcc::Build""
Reproduction: ```make all```

Expected behavior: build process should work fine

Actual behavior:
[code]
How to resolve this one?

[2017-08-28 08:46] sinkarharshad commented on #1015
Download VNC Viewer and connected to: 127.0.0.1:5900
Worked fine!

[2017-08-28 08:46] #1015 closed

[2017-08-28 10:48] SanchayanMaity opened #1042 "Failed to build Redox using Docker images with the toolchain"
**Reproduction**:
Follow instructions for building redox using docker images as per [here](https://github.com/redox-os/redox/tree/master/docker)

**Expected behavior**:
Runs redox

**Actual behavior**:
Build for ahcid fails at the fourth step.

**Log**:

[code]

------

_If the above does not fit the nature of the issue feel free to modify it._

[2017-08-28 11:13] fengalin commented on #1042
You can declare the issue on [this project](https://github.com/redox-os/drivers).
As a temporary workaround for this particular symptom, you may try the following command:
[code]

[2017-08-28 14:19] jackpot51 commented on #1041
Update your rust submodule and rust compiler:
[code]

[2017-08-28 14:50] sinkarharshad commented on #1041
I messed it up it seems :!

Not able to `git pull`
[code]
could you please guide ahead?

[2017-08-28 15:13] sinkarharshad commented on #1041
I followed above stated instructions, and stuck here:
[code]

[2017-08-28 15:15] SanchayanMaity commented on #1042
@fengalin  Thanks for the workaround. That worked. I opened an issue in redox-os/drivers. Shall I close this one?

[2017-08-28 15:17] fengalin commented on #1041
This is a [known issue](https://github.com/redox-os/redox/issues/1042) and will probably be fixed shortly.
In the meantime, use this as a workaround:
[code]

[2017-08-28 15:18] fengalin commented on #1042
Thanks for your feedback! Yes, I guess you can close this one.

[2017-08-28 15:21] SanchayanMaity commented on #1042
Opened issue in redox-os/drivers [here](https://github.com/redox-os/drivers/issues/18) as suggested by @fengalin.

[2017-08-28 15:21] #1042 closed

[2017-08-28 15:50] sinkarharshad commented on #1041
[code]

[2017-08-29 13:21] #1037 closed

[2017-08-30 01:38] annaleaser commented on #918
https://youtu.be/9Jala4vqYPw?t=5m21s

[2017-08-30 11:34] BadFactor commented on #26
@Mouvedia, i dont think XFS should be supported!

[2017-09-03 15:28] mominul commented on #1041
The issue you are facing that has been fixed. @sinkarharshad can you try again?

[2017-09-03 18:26] sinkarharshad opened #1047 ""wget" not working in redox"
Reproduction: `wget https://github.com/sinkarharshad/Device_Drivers/blob/master/hello.c -O hello.c`

Expected behavior: File (`hello.c`)should get download

Actual behavior: Not able to download the file

Build information:
[code]

What m I doing wrong? Thank you for the help.

[2017-09-03 18:35] sinkarharshad commented on #1047
I tried downloading using following command and it worked:

Old Command: `wget https://github.com/sinkarharshad/Device_Drivers/blob/master/hello.c -O hello.c`

New Command: `wget https://github.com/sinkarharshad/Device_Drivers/raw/master/hello.c -O hello.c`

I replaced `blob` with `raw` and it worked fine.
Thank you!!!

[2017-09-03 18:35] #1047 closed

[2017-09-04 11:42] sinkarharshad opened #1048 "Threads in redox using `gcc` : not able to compile `.c` program"
Reproduction: `gcc threadsinredox.c -o threadsinredox`

Expected behavior: I should get output as stated below: (Which I am getting in Linux)
[code]
Actual behavior:
[code]
My `.c` Program(`threadsinredox.c`):
[code]
Is it possible to compile this program in redox?
Appreciate your time, thank you.

[2017-09-04 15:13] BadFactor opened #1049 "What exactly is Redox OS?"
I read some issues and such stufe, and I Come to the end, that it is an online OS, is that somekind right? And how high secure is it?

Thanks for answering!
I preciate it!

[2017-09-04 15:19] BadFactor commented on #1049
Also before i forget this one, it would be cool If u write it into the readme file as a.FAQ and can it be used on a smartphone as the Basic Main Operating System?  O just.recommend it, to write those FAQ into the readme File.

[2017-09-04 15:41] ids1024 commented on #1048
Redox does not yet provide the pthreads API. There is an unfinished port in https://github.com/redox-os/newlib/pull/53.

[2017-09-04 16:31] bjorn3 commented on #1049
Redox is an OS written in rust. It doesnt support arm atm, so you cant run it on a phone.

[2017-09-04 16:32] thetoxicarcade commented on #1049
.... It's a hobby operating system... as detailed in the [readme](https://github.com/redox-os/redox/blob/master/README.md) and _sort of_ a FAQ in the [book[(https://doc.redox-os.org/book/introduction/what_is_redox.html)

[2017-09-04 18:58] sinkarharshad commented on #1048
thank you for your reply @ids1024.
Should I close this issue?

[2017-09-04 22:23] ids1024 commented on #1048
Yes, you can close it.

[2017-09-04 23:51] BadFactor commented on #1049
Thanks guys, that helped me alot, question the vfs is that mean that ur build a file System where u get Access to an app via clicking on a "Hyperlink"? Or is it a completly different Aspect?

[2017-09-05 03:02] thetoxicarcade commented on #1049
well, the particular scheme something uses might be handled by a different userspace driver, which is cool.

i.e., you'd have a different driver for `google-drive:/lib/bob` compared to `postgres:mydb/Users`

(disclaimer: that's not /entirely/ what they mean, but it's pretty cool)

[2017-09-05 07:01] sinkarharshad commented on #1048
@ids1024 sure!

[2017-09-05 07:01] #1048 closed

[2017-09-05 14:13] Nijaitchy opened #1050 "termion seems to be a broken dependency."
Is there a guide on how to compile redox on windows, cause I can't quite get it to work.

I am currently stuck here:

when trying to compile redox as described in the [book](https://doc.redox-os.org/book/getting_started/compiling_redox.html) I get the following errors.
This is most certainly caused by the fact that I did not install the redox toolchain. Sadly I did not find any good source on how

[2017-09-06 09:52] Nijaitchy commented on #1050
There is already the issue #1017 and probably some others describing that it is not possible to compile redox on windows yet. sry

[2017-09-06 09:52] #1050 closed

[2017-09-06 15:53] zuijiaoluo opened #1051 "build faild on macOS with "./repo.sh failed.make: *** [build/initfs.tag] Error 1""
**Reproduction**: [describe how you are able to reproduce ("trigger") this bug/issue.]
1. I use the commond
`curl -sf https://raw.githubusercontent.com/redox-os/redox/master/bootstrap.sh -o bootstrap.sh && bash -e bootstrap.sh`
2. I run
`brew install make nasm qemu gcc49 pkg-config Caskroom/cask/osxfuse`
and
`brew install redox-os/gcc_cross_compilers/x86_64-elf-gcc`
3. I run
`rustup toolchain inst

[2017-09-06 19:48] krrg opened #1052 "OpenSUSE detected as Ubuntu/Debian"
**Reproduction**:
Attempt to run the bootstrap.sh script on an OpenSUSE 42.3 installation.

**Expected behavior**:
Should detect as a SUSE-based installation and run the suse() function.

**Actual behavior**:
Instead, detects as a Debian/Ubuntu system and uses `apt-get`.  Some package names are incorrect, however.

The `zypper-aptitude` plugin is evidently installed by default on OpenSUSE 42.2.  T

[2017-09-06 23:06] vbuell opened #1054 "Build failed with "Could not find `Build` in `gcc`" error"
**Reproduction**:
1. Setup according to "Manual Setup" section in README.md.
2. make all

**Expected behavior**:
Build passes

**Actual behavior**:
Build failed with error "Could not find `Build` in `gcc`".

[code]

**Build information**:
rustc -V: rustc 1.22.0-nightly (2f1ef9ef1 2017-09-05)
git rev-parse HEAD: 66b9452310ecc772b2689a0f249d66db51daaf07
qemu-i386 -version: qemu-i386 version 2.9.94(D

[2017-09-07 11:04] popsky commented on #1054
same problem but in ubuntu 16.04.

[2017-09-09 02:45] jackpot51 opened #1055 "Fork ffmpeg to fix pthread issue"
This commit is the last to build in the cookbook: https://github.com/FFmpeg/FFmpeg/tree/fde5c7dc79eb017790ba232442ad2a4eecea4bf1

This commit broke the build:
https://github.com/FFmpeg/FFmpeg/commit/83c12fefd22fc2326a000019e5c1a33e90a874e8

[2017-09-09 03:46] xTibor commented on #1055
It might worth a try to switch from the master to a release branch first instead of forking.

[2017-09-09 13:35] jackpot51 commented on #1055
@xTibor good idea

[2017-09-10 03:43] #1055 closed

[2017-09-10 08:30] berkus commented on #1054
same problem on OSX Sierra 10.12.6

[2017-09-10 09:35] berkus commented on #1054
Ok, changing gcc build_dependency in all Cargo.toml files to 0.3 and then wiping Cargo.lock to force update fixes this part.

New dependency pulled is gcc 0.3.53 and that seems to work (older 0.3.51 didn't have gcc::Build it used gcc::Config - my guess).

Now there's another problem with calling gcc but it's something else.

[2017-09-10 10:04] berkus commented on #1051
confirmed, `libbacktrace` configure fails with redox cross-gcc on macos

[2017-09-10 12:46] berkus commented on #1051
Reason seems to be that `x86_64-unknown-redox-gcc` is not found.

[2017-09-10 19:04] michaelbachner commented on #930
In the Readme.md in the section Ecosystem it says `redoxfs (old filesystem)`. Shouldn't it then be `TFS`? Or is `TFS` still WIP?

[2017-09-10 19:24] michaelbachner opened #1056 "uname: Redox release version is outdated"
**Reproduction**: Type uname -r.

**Expected behavior**: It prints out 0.3.2 in Release 0.3.2.

**Actual behavior**:
![image](https://user-images.githubusercontent.com/18561536/30252210-4be6515c-966e-11e7-867f-6d6020aa96c3.png)

**Redox release**: 0.3.2

**Misc**: I run the redox_0.3.2.iso

[2017-09-10 19:54] ids1024 commented on #1056
The version comes from the kernel's `Cargo.toml`. Kernel versions aren't necessarily the same as Redox versions (but probably should be, without any reason otherwise). So I guess the kernel should be version bumped before each Redox release?

[2017-09-10 20:48] michaelbachner commented on #1056
You mean this line, right? https://github.com/redox-os/kernel/blob/cf45bd34e107df2faf590475546a7d7ac34114db/Cargo.toml#L3

As a user I expect release to be the OS release. If it's meant to be the kernel version, then uname should have another parameter for outputting the OS release.

In my opinion kernel and os version should be in sync.

[2017-09-10 20:57] ids1024 commented on #1056
Yes, that line.

[POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/uname.html) does seem to specify that `uname -r` prints the OS version; the Linux man page specifies that it returns the kernel version. The two should probably be the same for something like Redox (unlike Linux, where the kernel and distribution are developed independently).

The current implementation uses a `sys:

[2017-09-11 02:03] zuijiaoluo commented on #1051
@berkus I use the command with "brew install redox-os/gcc_cross_compilers/x86_64-elf-gcc" on mac. So how I get x86_64-unknown-redox-gcc？My English is not very good, please forgive me.

[2017-09-11 04:53] dylanmtaylor opened #1057 "Redox does not load with < 2GB RAM"
When running Redox OS in a 1 GB RAM VirtualBox instance, it does not start. Bumping the RAM amount to > 2 GB fixes the issue.

[2017-09-11 05:23] thetoxicarcade commented on #1057
I'm just interested in figuring out what's technically doing this. Whether or not we should/shouldn't get rid of it.

[2017-09-11 05:24] Pharaone commented on #1057
+1

[2017-09-11 07:06] Pharaone commented on #1057
The same happens with real hardware

[2017-09-11 07:34] berkus commented on #1051
@zuijiaoluo same here, i did the brew install command but it installs a different gcc.
And the homebrew repo for redox does not contain `x86_64-unknown-redox-gcc`.

When trying to build manually via
`git clone --recursive https://github.com/redox-os/libc/` i get the following error:

[code]

[2017-09-11 07:38] berkus opened #1059 "Unable to build the x86_64-unknown-redox-gcc toolchain"
**Reproduction**: [describe how you are able to reproduce ("trigger") this bug/issue.]

To manually build the toolchain (because `x86_64-unknown-redox-gcc` is not on homebrew), I try to first clone the libc repo with:

`git clone --recursive https://github.com/redox-os/libc/`

**Expected behavior**: [describe the behavior you would expect the repro to yield.]

Repositories should clone successfull

[2017-09-11 07:39] berkus commented on #1049
@BadFactor you seem to think this is some kind of Internet OS, it's just a normal operating system. Like Windows or Linux.

[2017-09-11 07:56] sinkarharshad commented on #1049
- Microkernel Based OS
- Completely Written in RUST
- Re-written kernel
- Less than <8K lines of code
- Old approach but in a optimized manner
- g/g++, Python, Lua  support
- Unix-y like OS
- POSIX support (In process)
- 0 Lags + Interesting behavior
- And many more is there and yet to come!!!
Feel free to correct me if I am wrong anywhere :)

[2017-09-11 08:01] sinkarharshad opened #1060 "Build Failed : error: unused import: `str` : 0.3.2 Release"
Reproduction: `make all`

Expected behavior: Build should work fine

Actual behavior: Build is getting failed due to "error: unused import: `str`"

Build information:
[code]
Thank you in advance!

[2017-09-11 12:11] cafeclimber commented on #1054
Same problem on Fedora 26

[2017-09-11 17:40] ids1024 commented on #1060
This should be resolved once https://github.com/redox-os/redoxfs/pull/34 and https://github.com/redox-os/orbital/pull/17 are merged.

[2017-09-11 18:03] nspaeth opened #1061 "Rationale for 'everything is a url'"
Hi,

Looking through the available documentation, I see the ["Everything is an URL"](https://doc.redox-os.org/book/design/url_scheme_resource/everything_is_a_url.html) page which discusses shortcomings of 'everything is a file', but I wonder what other alternatives were considered? Is there somewhere I can read about the various alternatives?

For example, why not: "Everything's an Object" as seen

[2017-09-11 19:21] jackpot51 commented on #1057
An inefficient method of doing live disks uses up the excess RAM.

[2017-09-11 19:23] jackpot51 commented on #1056
The behavior is correct. `uname -r` is the *kernel* version. I recommend instead creating an `/etc/os-release` file, similar to the one in Linux:

Here is one from Ubuntu:
[code]

[2017-09-11 19:24] #1060 closed

[2017-09-11 20:02] michaelbachner commented on #1056
Is that really necessary? If OS and kernel are developed together, why should they have different version numbers? Is there a good reason for the os-release file?

[2017-09-11 20:40] jackpot51 commented on #1056
If the kernel is stable, and does not change, why should the version change when the OS version does?

Also, why should a kernel change trigger an entire OS version change?

[2017-09-11 20:48] ids1024 commented on #1056
Fair enough. And if Redox is intended to be rolling release, there aren't real releases, but semi-arbitrary snapshots. Perhaps the versions should be dated, like Archlinux (the current Arch ISO is 2017.09.01).

(Redox isn't entirely rolling release yet due to the state of the package manager, and the fact that the kernel and bootloader aren't managed through the package manager.)

[2017-09-11 21:13] sinkarharshad commented on #1060
@jackpot51 @ids1024 i tried again, but the error is still there :!

[2017-09-11 23:11] pftbest commented on #1057
I've seen at least 3 people trying to run it in VirtualBox with 512M of ram, and then reporting that it doesn't work. And I kinda understand their point, since the ISO is only 40M in size, then a half a gig should be plenty, right?

[2017-09-12 16:44] sinkarharshad opened #1063 "Not able to open redox-terminal (ion)"
Host Machine: Ubuntu 16.04

Reproduction: `make qemu`

Expected behavior: Redox-Terminal (ion) should work

Actual behavior: Terminal is not accessible. Whenever I click, getting following lines :

[code]
I have clicked several times on terminal icon to generate this.
Kindly help me to resolve this one.
Thank you in advance.

[2017-09-12 17:37] jackpot51 commented on #1063
If you have built the system locally, please do not identify a release number in the bug. The actual 0.3.2 release ISO does not have this behavior, so the bug occurred some time after release.

[2017-09-12 17:38] jackpot51 commented on #1063
It may have been caused by https://github.com/redox-os/ion/pull/527

[2017-09-12 21:08] JacobSinclair opened #1064 "Using some sort of package for resources (WAD, 7z/LZMA etc)"
I was thinking, would it not be a good idea to have all the OS' resources (audio, images, themes etc.) This would be good, as (if you did have some sort of theme system, another thing you could implement :P) you could have an in-built theme manager/installer that downloads the packaged up themes. This would mean you could have multiple themes in a folder and switch between them on the go. And, if

[2017-09-12 22:48] seb-bizeul commented on #1051
Same here ...

    checking for C compiler default output file name...

    command did not execute successfully: "sh"
    "/Users/seb/redox/rust/src/libstd/../libbacktrace/configure" "--with-pic" "--disable-multilib"
    "--disable-shared" "--disable-host-shared" "--host=x86_64-unknown-redox" "--build=x86_64-
    apple-darwin"
    expected success, got: exit code: 77

[2017-09-13 04:17] thetoxicarcade commented on #1049
All of Redox is interesting, the expected behavior AND the bugs.

[2017-09-13 05:59] michaelbachner commented on #1049
In fact https://www.redox-os.org/ answers all the issue's questions. :smirk:

[2017-09-13 07:28] sinkarharshad commented on #1063
@jackpot51 How to overcome this? or any way to go back to the previous build?

[2017-09-13 11:33] theunkow opened #1065 "Stuck on Redox Loader - Stage Two"
**Reproduction**: Trying to boot and install Redox from redox_0.3.2.iso on bootable USB (done with Rufus). It always gets stuck on the line after Redox Loader - Stage Two saying "00000007#007F 0000:8A00".

**Expected behavior**: The booting/instalation process should continue to allow user control on a kind of a desktop environment.

**Actual behavior**: Keyboard control is frozen, reboot is only

[2017-09-13 12:23] Pharaone commented on #1065
How many GBs of Ram do you have?

[2017-09-13 19:04] sinkarharshad commented on #1063
It did work with: `make qemu kvm=no`
@jackpot51 Should I close the issue?

[2017-09-13 19:56] jackpot51 commented on #1063
No, no, no. There is clearly an issue, I believe with SSE alignment

[2017-09-13 22:55] jackpot51 opened #1066 "Update issue template"
The current one is a bit intimidating

[2017-09-13 22:56] jackpot51 opened #1067 "Test for dependencies in makefile"
Test for dependencies before attempting to make

In Ubuntu:
- libfuse-dev
- nasm
- x86_64-unknown-redox-gcc

Rust:
- cargo
- cargo-vendor
- xargo

[2017-09-14 04:21] jackpot51 commented on #1063
Fixed in https://github.com/redox-os/kernel/commit/917d30c193edd6a7c4bdbf89f78c59299f4b4f4d

[2017-09-14 04:21] #1063 closed

[2017-09-14 05:34] eugene2k commented on #1061
While I'm not a developer of redox here's my two cents:
The "everything is a URL" approach in its pure form actually is an "everything is an object" approach with namespace graphs for each object the OS provides access to. An object has methods and instances associated with it. The API provided by the OS to access each "protocol" in the URL is the object API - its methods. And the graph stored by

[2017-09-14 15:14] sinkarharshad commented on #931
@ctaggart how about `smith` : `crtl+s` for save `esc` to exit + you can copy and paste code directly  (if you boot redox from your host-terminal)

[2017-09-14 17:06] blaiseli commented on #1036
Same problem for me. `cargo install xargo` helped pass this step, but then I get other errors.

[2017-09-14 17:22] blaiseli commented on #1051
Same error for me on Ubuntu 16.04.

`sudo updatedb && locate x86_64-unknown-redox-gcc` has no output. There is apparently no `x86_64-unknown-redox-gcc` on my computer.

[2017-09-15 08:01] gojun077 opened #1068 "[Fedora 26 x86_64] configure: error: C compiler cannot create executables"
**Reproduction**: [describe how you are able to reproduce ("trigger") this bug/issue.]
1. run bootstrap script
`$ curl -sf https://raw.githubusercontent.com/redox-os/redox/master/bootstrap.sh -o bootstrap.sh && bash -e bootstrap.sh`

2. Source the cargo env file
`source $HOME/.cargo/env`

3. Change to the directory into which redox source was cloned
`cd redox`

4. Install `xargo` from cargo pkg ma

[2017-09-15 08:15] sinkarharshad commented on #1041
No more facing this error:
Followed commands:
[code]

[2017-09-15 08:15] #1041 closed

[2017-09-15 21:39] youknowone commented on #1068
Same issue in macOS too.
A related issue in xargo: https://github.com/japaric/xargo/issues/135

[2017-09-16 09:34] xliiv commented on #569
What chances are to adopt https://github.com/jwilm/alacritty ?

[2017-09-17 19:30] theunkow commented on #1065
6GB DDR2 800MHZ (it's in the **Misc:** part)

[2017-09-17 20:48] jackpot51 commented on #1065
I do not believe Rufus correctly produces bootable Redox disks. The image must be written directly to a USB drive, FAT32 should not be involved at all. It should be an ISO9660 filesystem.

[2017-09-18 19:24] ThosV opened #1069 "ISO won't load in VM"
**Reproduction**: Attempt to boot Redox 0.3.2 iso in Oracle VM VirtualBox

**Expected behavior**: System should boot into desktop environment

**Actual behavior**: System produces a (s)ave/(y)es/(n)o query and then simply goes black.

**Redox release**: 0.3.2

**Blocking/related**: Don't think so

**Misc**: Doing all this on AntergOS Linux. Oracle VM VirtualBox 5.1.28 r117968. Followed all the set

[2017-09-18 20:33] jackpot51 commented on #1069
How much RAM did you provide the VM?

[2017-09-18 22:11] ThosV commented on #1069
1024 MB, per the instructions on the 0.0.3 release example configuration.

[2017-09-19 01:13] jackpot51 commented on #1069
Try 2048 MB

[2017-09-19 16:57] ThosV commented on #1069
Yep, that worked, thanks?

Honest question: why does Redox need such a larger chunk of RAM? I've got a VM with Arch installed that runs fine on 1024.

[2017-09-19 17:09] jackpot51 commented on #1069
The live session is implemented in an inefficient manner, the entire filesystem and free space is loaded into memory.

[2017-09-19 17:10] #1069 closed

[2017-09-19 17:14] leeoniya commented on #1069
@jackpot51 this comes up pretty frequently, is there a timeline or any indication of where this falls in the priority queue?

[2017-09-19 20:48] michaelbachner commented on #1057
Could you elaborate on this? Is there a way to introduce a more efficient method?

[2017-09-19 21:01] ids1024 commented on #1057
Redox currently only supports booting from a hard drive; so the ISO uses [MEMDISK](http://www.syslinux.org/wiki/index.php?title=MEMDISK) to load the hard disk image into RAM, which takes up as much RAM as the hard disk image (including unused space).

In the future it should be possible to improve this. In particular, a USB mass storage driver would allow read/write bootable USB drives, which woul

[2017-09-19 22:31] jackpot51 commented on #1057
Ok everybody. I am going to fix this, once and for all.

I will not have something like SquashFS yet, where the FS can be loaded from external media where needed.

I will instead make the current method of storing the filesystem in RAM more efficient. This involves:
- Preventing duplicate copies
- Not storing empty space
- Not preallocating kernel heap

[2017-09-20 02:22] jackpot51 commented on #1057
Part one of the fix - https://github.com/redox-os/kernel/commit/d6b9768dc3e9cd967df0acf3eafb10d02c9f0ba6

[2017-09-20 02:38] jackpot51 commented on #1057
Second part in https://github.com/redox-os/redox/commit/345c6bc4349d135c79fe20a6f5dcc3ea8c0e2349

Usage is now below 512 MB.

[2017-09-20 02:38] #1057 closed

[2017-09-20 02:39] jackpot51 commented on #1057
I will be releasing 0.3.3 with these changes.

[2017-09-20 04:43] yjh0502 commented on #902
It seems to boot without problem on my environment. macOS 10.12.6, VirtualBox 5.1.28, redox 0.3.3. I used Other/Unknown 64-bit as a template.

[2017-09-20 10:48] Pharaone commented on #1019
still not working in 0.3.3

[2017-09-20 11:48] chrysn commented on #1068
Same issue on Debian (with rustup's nightly rustc); admittedly, I didn't run the bootstrap script but installed the dependencies listed there manually and recursive-checked out redox.

Surprisingly, running the `./configure --with-pic --disable-multilib --disable-shared --disable-host-shared --host=x86_64-unknown-redox --build=x86_64-unknown-linux-gnu` in libbacktrace's directory runs successfully

[2017-09-20 13:49] michaelbachner commented on #902
Yes, this thread is about redox 0.1.4. I think this can be closed now?

[2017-09-20 13:52] #902 closed

[2017-09-20 13:53] jackpot51 commented on #1068
@chrysn follow the instructions here: https://github.com/redox-os/cookbook

[2017-09-20 16:57] lafolle commented on #1068
I'm also getting same error,  after following above recommendation,  now i'm getting this error:
[code]

Rust version: `rustc 1.22.0-nightly (325ba23d5 2017-09-19)`

[2017-09-21 02:10] AlexNPavel commented on #1068
Same issue on openSUSE Tumbleweed 20170913 with Rust nightly 01c65cb15 2017-09-20

[2017-09-21 14:26] ambaxter commented on #724
Red Hat updated its patent promise today. It now includes MIT

https://www.redhat.com/en/about/patent-promise

[2017-09-21 17:12] Pharaone commented on #800
any idea?

[2017-09-22 03:30] DmitryPostolov opened #1073 "Redox on real hardware Intel NUC DN2820FYKH RTL8168: connect to the Internet"
Hi to all Redox users and developers! Sorry for my bad English...

Redox 0.3.3 on real hardware Intel NUC DN2820FYKH RTL8168: connect to the Internet.

Intel NUC DN2820FYKH (second revision, with CPU Intel N2830) LAN RTL8168 (revision maybe RTL8168G or 8168G-2 or 8168GU)

FreeBSD dmesg re0:
Realtek 8168/8111 revision: B/C/CP/D/DP/E/F/G port 0xe000-0xe0ff mem 0xd... irq 18 at device 0.0 on pci2
re0

[2017-09-22 12:58] jackpot51 commented on #1073
I have access to Intel NUCs, so I will test this. Real hardware with Redox network drivers is rare, but this should be working.

[2017-09-24 16:11] theunkow commented on #1065
Well sorry then, I will properly retry next time and reopen the issue if it still persists.

Thanks.

[2017-09-24 16:11] #1065 closed

[2017-09-30 00:58] jackpot51 opened #1076 "Improve networking speed"
The package manager sometimes hangs while downloading, probably due to a bug in the network stack.

[2017-09-30 13:50] jackpot51 commented on #1076
This appears to be caused by starvation - the IP file keeps getting data in tcpd, but the scheme does not get more requests. A large backlog of data is built up until the TCP client is finally scheduled.

[2017-10-07 02:08] TheCynosure commented on #1067
I wrote a small function to do this. Under which make command should I check for these commands?

[2017-10-07 13:06] jackpot51 commented on #1067
Under a new target that all depends on first

[2017-10-07 14:29] TheCynosure commented on #1067
This seems like more of a job for a configure script. Should we think about adding one of those into the project instead of putting this into the makefile?

[2017-10-09 19:40] tjrana commented on #1066
@jackpot51 I'll rewrite the issue template. You can assign this to me.

[2017-10-09 20:06] jackpot51 commented on #1066
Sounds good @tjrana !

[2017-10-09 23:51] tjrana commented on #1066
@jackpot51 Now that #1078 is merged, we can close this issue if you'd like.

[2017-10-10 00:06] #1066 closed

[2017-10-10 00:08] tjrana opened #1079 "Clean repo issues"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

Quite a few issues are missing labels. There are some issues that can be closed. This is similar to #1011, except for the issues instead of the code.

## Labels to be added
I will update this list.
- [ ] #647 Add postponed label: until basic networking support

[2017-10-10 00:19] tjrana commented on #1079
@jackpot51 Do you think it's okay to reference more issues? There would be references to many issues. What do you propose?

[2017-10-10 00:32] jackpot51 commented on #1079
Yeah, that would be ok.

[2017-10-11 01:19] xTibor commented on #990
I don't have a fresh build at the moment but it's still reproducible with around a week old one.

[2017-10-11 01:38] jackpot51 commented on #990
Here is my crash dump:
[code]

[2017-10-11 06:17] BojanKogoj commented on #1079
How about using something similar to what [Servo uses](https://github.com/servo/servo/wiki/Tag-label-names-and-definitions)?

[2017-10-11 15:55] coreybruce commented on #1010
Fail to compile, Error 127

corey@Corey-PC:/media/users/Storage/Redox-OS/redox$ make all
cd kernel && xargo clean
/bin/sh: 1: xargo: not found
mk/initfs.mk:2: recipe for target 'build/initfs.tag' failed
make: *** [build/initfs.tag] Error 127

[2017-10-12 05:03] pharaone commented on #918
I think that sandboxed apps are better for security, and redox aims to be protected

[2017-10-12 06:14] bjorn3 commented on #1010
@coreybruce please install xargo.

[2017-10-12 12:24] jackpot51 commented on #918
We have a method for containment. Feature requests should be put at https://github.com/redox-os/contain

[2017-10-12 12:24] #918 closed

[2017-10-12 13:26] coreybruce commented on #1010
How do I install that?

[2017-10-12 13:27] coreybruce commented on #1010
Don't worry figured it out

cargo install xargo

[2017-10-12 13:34] coreybruce commented on #1010
Got to the end with this error

command did not execute successfully: "sh" "/media/users/Storage/Redox-OS/redox/rust/src/libstd/../libbacktrace/configure" "--with-pic" "--disable-multilib" "--disable-shared" "--disable-host-shared" "--host=x86_64-unknown-redox" "--build=x86_64-unknown-linux-gnu"
expected success, got: exit code: 77

--- stderr
configure: error: in `/tmp/xargo.Tzc76v6I3HeR/target/x

[2017-10-12 16:47] PENGUINLIONG commented on #1017
It seems the FUSE filesystem is yet to be supported on WSL, so without a virtual machine it should be literally impossible to compile redox on Windows. Even though there has been [requests](https://wpdev.uservoice.com/forums/266908-command-prompt-console-bash-on-ubuntu-on-windo/suggestions/13522845-add-fuse-filesystem-in-userspace-support-in-wsl) for it for some time.

[2017-10-12 17:17] pharaone commented on #1019
Retried with 0.3.4, now is in a reboot loop after "gzip image ..."

[2017-10-12 17:26] #1017 closed

[2017-10-12 17:27] jackpot51 commented on #1017
As @PENGUINLIONG said, until WSL supports FUSE, there is nothing we can do to help you

[2017-10-13 13:15] pharaone commented on #1019
how can i get it working?

[2017-10-13 19:25] pharaone opened #1081 "Implementing Copy Paste"
Copying files from  folders to folders is difficult for normal users from the terminal, and copying or pasting some text from an app to an other or form a document to an other is impossible, so what about implementing it?

[2017-10-13 20:36] thetoxicarcade commented on #1081
The question is, would the GUI itself be holding that data?

[2017-10-13 20:56] jackpot51 commented on #1081
We need to be really careful in terms of clipboard. I would not want any application to be able to read the clipboard contents unless the contents have been pasted

[2017-10-14 04:30] tjrana commented on #1079
@BojanKogoj That's interesting. We will have to maintain our own list of labels, though. @jackpot51 What do you propose?

[2017-10-14 09:40] bjorn3 commented on #1081
How about having orbital send a paste event on ctrl-v to the active window with the pasteboard contents added to the event?

[2017-10-14 12:49] jackpot51 commented on #1081
That would mostly work. Events are fixed size

[2017-10-15 06:04] pharaone opened #1082 "Closing menu pressing redox icon"
## Description

Replace me

## Environment info
Virtual box

- Redox OS Release:
0.3.4

## Steps to reproduce
Press the redox icon(bottom left) to open the menu, now press it again

- **Expected behavior**:
The menu closes

- **Actual behavior**:
The menu disappears for some milliseconds and then reappears

[2017-10-15 07:23] pharaone commented on #1082
![qpmjes1arb](https://user-images.githubusercontent.com/17162630/31582668-718d4e92-b18a-11e7-8f34-61915b144969.gif)

[2017-10-15 07:33] pharaone opened #1083 "Can't install packages in Redox 0.3.4"
I tried to install gcc but the installation fails, after that I tried to install some other package but it says that there isn't space in the drive "os error 28" (this isn't true, I have 19 GBs free in the virtual box disk)
![cattura2](https://user-images.githubusercontent.com/17162630/31582708-8af49d3a-b18b-11e7-8d42-59cfaeaa911d.PNG)
I have this problem since 0.3.3.

[2017-10-15 11:11] pharaone opened #1084 "The icon of an installed app appears only after the logout"
If you install an app the icon appears only after the logout. Ex. with Sodium

![redox](https://user-images.githubusercontent.com/17162630/31584211-3b807a5c-b1aa-11e7-9489-dac4f0bf3e4a.gif)

[2017-10-15 14:19] pharaone opened #1085 "Cursor has low framerate"
(I checked the other bugs, and no one talks about low framerate of the cursor, the other bug talck about the "slow" cursor) I have a virtual machine with 4gbs of ram and 128 mb of video ram, all applications runs perfectly without any drop of the frame rate (except some bug) but the cursor has a very low framerate, and i dont know why because everything is ok except for it. This happens with virtu

[2017-10-18 16:39] meven opened #1086 "Failure to build redox due to a missing branch in termion named "redox_termios""
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

When following the instructions the quick setup instruction of redox:

The build fails with a trace :

Using --verbose option, I get

And indeed in https://github.com/redox-os/termion/branches we can see the branch redox_termios does not exist.

## Environment info

- Operating

[2017-10-19 17:59] fritzy commented on #950
Laggy inputs/drawing on KVM w/ Linux, but that's probably to be expected since VirtualBox is the recommended host ATM. It's probably using bios/vesa drawing calls.

[2017-10-23 04:57] TheXDS opened #1088 "ion shell attempts to execute all files in a directory"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

if the Ion shell is launched giving it a directory as argument, it will attempt to run every file in that directory.

## Environment info

- Operating system:
Linux Mint 18.2 Sonya
- `uname -a`:
`Linux TheXDS-Mint 4.13.8 #1 SMP Thu Oct 19 20:16:50 CST 2017 x86_64 x86_64 x86_64

[2017-10-24 15:41] sajattack opened #1089 "std build fails"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

[code]

## Environment info

- Redox OS Release:
0.0.0 Remove me

- Operating system:
Arch Linux
- `uname -a`:
Linux P50-Arch 4.13.8-1-ARCH #1 SMP PREEMPT Wed Oct 18 11:49:44 CEST 2017 x86_64 GNU/Linux
- `rustc -V`:
rustc 1.22.0-nightly (4c053db23 2017-10-22)
`Replace me`
- `gi

[2017-10-24 17:39] sajattack commented on #1083
The file system in the iso is only 256MB. To get a bigger filesystem on disk you have to compile from source.

[2017-10-24 23:33] sajattack commented on #1089
Resolved by installing x86_64-unknown-redox-gcc and prereqs

[2017-10-24 23:33] #1089 closed

[2017-10-25 18:53] cafeclimber opened #1091 "Depreceated libcollections removed from latest rust src causes compilation failure"
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

A recent commit of the rust src removed libcollections saying it was deprecated. This causes compilation to fail as it depends on libcollections.

## Environment info

- Operating system:
Fedora 26
- `uname -a`:
Linux host 4.13.5-200.fc26.x86_64 #1 SMP Thu Oct 5 16:53:13 UTC 2

[2017-10-26 19:45] jerodsanto opened #1092 "Redox on The Changelog!"
Howdy from [The Changelog](https://changelog.com/podcast)!

_(Never heard of The Changelog? We've been interviewing the hackers, leaders, and innovators of open source and software development since '09.)_

We'd love to have you on the show sometime soon. @jackpot51 please join us to talk about Redox and all the cool stuff y'all are up to.

Interested? Please email editors@changelog.com to coordin

[2017-10-28 03:39] #1091 closed

[2017-10-28 13:43] jackpot51 commented on #1092
This sounds pretty cool - send me an email at info@redox-os.org

[2017-10-28 23:39] Etherian commented on #1081
Eventually, I would appreciate the clipboard being able to hold multiple pieces of data and display the available pieces, like Klipper or Ditto.

[2017-10-29 05:00] toxik-io commented on #1081
how about... a program that holds the data... and the only messages passed around are what type the file is...

wait can we share object buffers between programs yet?

we can designate a program as a service... right?

[code]

So... program A, a screenshot program, and program B, a text editor, and C, a clipboard manager:

[code]

It would be cool if the functionality of a multi-type clipboard exi

[2017-10-29 21:13] sajattack opened #1093 "error: failed to load source for a dependency on `collections`"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

The error listed in the title occurs because libcollections was removed in the most recent commit to redox-os/rust

## Environment info

- Redox OS Release:
git 28e512c

- Operating system:
Arch Linux
- `uname -a`:
Linux P50-Arch 4.13.9-1-ARCH #1 SMP PREEMPT Sun Oct 22 09:07:32

[2017-10-29 21:35] jackpot51 commented on #1086
I have updated the pkgutils inside cookbook, so this should be fixed.

[2017-10-29 21:35] #1086 closed

[2017-10-29 21:35] jackpot51 commented on #1093
This should be fixed with master now

[2017-10-29 21:35] #1093 closed

[2017-10-30 14:15] Erwhann-Rouge commented on #1068
On Manjaro or Arch linux, I have the same

Unfortunately, the fix mentionned by @jackpot51 doesn't work on Arch and derivatives.

[2017-10-30 15:59] sajattack commented on #1068
I've updated the instructions for Arch and other distros.

[2017-10-30 17:53] sajattack commented on #1036
Fixed in 3b145a3

[2017-10-30 18:05] #1036 closed

[2017-10-31 13:58] akappel commented on #1079
I would also like to +1 the use of labels similar to Servo. Me being a beginner in Rust, I'd love to filter on E-easy tags and get used to the repo. They've also got a cool site for showing beginners the current issues that are E-easy: https://starters.servo.org/.

[2017-11-04 13:56] 3442853561 opened #1096 "How to install Rust on the Redox"
How to install Rust on the Redox

[2017-11-04 19:43] toxik-io commented on #1096
Currently, cargo hangs. Everything else is fine, but cargo acts weird. So... if you want to make a package for redox, you'll have to build it on the host machine, before it gets packaged into an ISO.

[2017-11-04 19:43] toxik-io commented on #1096
Does that answer your question?

[2017-11-08 16:47] nixpulvis commented on #696
I see this issue simply as a desire to see another crate for a "better" Orbital implementation for users who like tiling window managers like `i3`. I feel like the core Redox project shouldn't make any claims about Graphical User Interface.

[2017-11-09 04:27] InsidiousMind commented on #696
I'd like to add it may be worth choosing a subset of features, then making these very polished (and visually stimulating, if Redox goes for that) being customizable and *functional*. IE a hud UI 'concept' might look really cool but not be functional whatsoever.

A DE/WM with feature bloat might seem cool on paper but might be annoying to use. In that respect, I'd opt for something closer to i3 tha

[2017-11-09 11:28] bugQ commented on #615
"another bad option like Qt or Gtk" :\
"The entry barrier into GTK/Qt is too high for people" :(

Qt remains way more portable than anything written for the web.  If the barrier for entry is too high, then high-level idiomatic bindings are the answer.  Isn't this supposed to be an OS by and for Rust users ?

[2017-11-12 01:34] AgustinCB opened #1098 "Linking error building project"
- [X] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
When I try to make the project, I get the following error:

[code]

## Environment info

- Operating system:
Arch Linux
- `uname -a`:
[code]
- `rustc -V`:
[code]
- `git rev-parse HEAD`:
$ git rev-parse HEAD
9ffd481edf2451a31f54253fbd19d77c96da3c34

## Steps to reproduce
I simply

[2017-11-12 18:40] cookie545445 commented on #696
There is a lot of needless reinvention here. I get that Redox is supposed to be new and have some sort of uniqueness and advantage over everything else, but that doesn’t mean we can’t take things from elsewhere.

In this thread I've seen:
* renaming of already existent concepts and their components, and suggestion of these renamed things over the things with the old names
* "we should make a decen

[2017-11-12 21:21] Trolldemorted opened #1100 "documentation should list supported processor architectures"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

I had a look at the documentation and the issues, and was unable to find hints about which processor architectures are supported. x86/x64 is obvious, but what about MIPS, ARM and others? I really would like to see redox instead of linux in action on safety and security-critical embedded device

[2017-11-13 08:19] cookie545445 commented on #1100
[The Book, chapter 1.1](https://doc.redox-os.org/book/overview/what_redox_is.html) lists the hardware that Redox supports. x86_64 is the only obvious supported arch because it is the only supported arch.

Nothing definitive can be said about future support at the moment.

[2017-11-13 08:22] Trolldemorted commented on #1100
That's what i get for skipping the first part, i guess - sorry for the inconvenience.

More supported architectures would be great, though.

[2017-11-13 08:22] #1100 closed

[2017-11-13 20:58] gbutler69 opened #1101 "BUILD FAILURE: Due to redox-os/rust/srce/libcore/marker.rs ("send" language item deprecated)"
- [ X ] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

The file "marker.rs" in libcore of the "redox-os/rust" repo needs to be change due to upstream rust/nightly/master removing "send" as a language item (see https://github.com/rust-lang/rust/commit/7995f879d0c520d162d965db0ebbe403bfa2bfda#diff-268f3645af45ee52080a7d24acb217dd).

[2017-11-13 21:51] gbutler69 opened #1102 "/usr inappropriately soft-links to /: Results in infinite recursion with, "ls -lR /""
- [ X] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

If you go to the root of the file-system in Redox and enter the command, `ls -lR` (or simply type, `ls -lR /` anywhere) it goes into infinite recursion showing files/folders in:

/usr/bin
/usr/usr/bin
/usr/usr/usr/bin
...
/usr/usr/usr/.........../usr/bin
etc.

## Environment i

[2017-11-13 22:11] xTibor commented on #1102
Here's where the recursive symlink is defined:
https://github.com/redox-os/redox/blob/f9865f49d1e597f54beb61dbe456a0969396dc7a/filesystem.toml#L177-L180

[2017-11-13 22:55] gbutler69 commented on #1102
I'm working on this. Already have a fix ready. Just working on submitting PR.

[2017-11-14 02:11] gbutler69 opened #1106 "ls /dir vs ls /dir/ where dir is a soft-link to another folder - incorrect behavior"
- [ X ] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

see https://github.com/uutils/coreutils/issues/1093

Where I submitted an upstream bug against uutils for 'ls'.  I believe this problem needs fixed/addressed in the upstream uutils and then pulled in to redox/uutils.

## Environment info

(not relevant)

- Operating system:

[2017-11-14 02:37] gbutler69 commented on #1106
I added a PR to the upstream uutils/coreutils to fix this 'ls -l' issue WRT soft-linked folders. See https://github.com/uutils/coreutils/pull/1094.

[2017-11-15 00:42] gbutler69 commented on #1106
The upstream PR has been merged and the corresponding issue closed. This just needs to be pulled from upstream. Do we need some sort of PR for that?

[2017-11-15 03:28] #1098 closed

[2017-11-15 03:38] tjrana commented on #1079
@akappel That looks very useful. Thanks! We should look into how to implement these kinds of labels.
Perhaps a new issue can be made to use update the labels?

[2017-11-16 16:26] that1communist commented on #696
@InsidiousMind

What about i3's window management with KDE's panel?

Just enabling floating by default would make it user friendly enough, while still as powerful as i3 and kde.

[2017-11-16 17:15] that1communist commented on #1088
https://github.com/redox-os/ion/issues

This should probably be here.

[2017-11-16 17:42] xTibor commented on #746
After a year there's only one crate left to port, [memmap-rs](https://github.com/danburkert/memmap-rs). With a dummy port ripgrep already builds and runs on Redox: https://i.imgur.com/rHcjZiE.png

[2017-11-16 19:40] nixpulvis commented on #696
I think as a matter of priciple we can name things whatever we want, but there are places where adhering to an existing protocol might yield both practical and "theoretical" simplicity, for example avoiding tieing Redox too tightly to contentious topics like UI and window managers.

[2017-11-17 04:18] TheXDS commented on #1088
Sorry, didn't realize that I posted it on the wrong place....

[2017-11-17 15:19] HarryU commented on #1014
I think I am also having this issue on Ubuntu 14.04. Did you find a solution?

[2017-11-17 15:53] TheXDS commented on #1088
I've got some feedback from the ion team, this seems to be indeed an issue with Redox-OS itself, and not Ion.
Just for reference: https://github.com/redox-os/ion/issues/594

[2017-11-17 20:12] MGageMorgan commented on #1019
![20171117_151006_hdr](https://user-images.githubusercontent.com/13326489/32966912-6ddd3ef4-cba9-11e7-8d49-49a610303971.jpg)

This is a bit irritating...wasn't the goal of Rust efficiency? Correct me if I'm wrong, but shouldn't this take LESS memory than Linux?? I'm open to explanations, because I don't know WHY this is the way it is. Please enlighten me.

[2017-11-17 20:30] jackpot51 commented on #1019
What exactly are you talking about @MGageMorgan ?

[2017-11-17 20:31] #1102 closed

[2017-11-17 20:52] MGageMorgan commented on #1019
Look at the pic I posted. It was on a laptop with 2GB of RAM. That's standard. Why will it not run, and will it in the future?

Cheers!

M. Gage Morgan

----

Christoffen OSWorks LLC co-founder, CEO, and lead architect. 

/**

* Just note that my opinion will 

* NEVER reflect my company, which I 

* hope to keep neutral in terms of 

* public relations with other entities.

**/

On Fri, Nov 17, 2

[2017-11-17 22:13] jackpot51 commented on #1019
It is asking you to select a resolution. Press y to select or n to go to the next resolution

[2017-11-17 22:18] MGageMorgan commented on #1019
![15109569765021874220522](https://user-images.githubusercontent.com/13326489/32971401-171f4cf8-cbbb-11e7-9f9d-2ed3d56c13d8.jpg)

@jackpot51,  I understand that now (thanks), but regardless of which one I pick, it hangs here. Tried F1-4 like above, but can't get squat past this.

[2017-11-17 23:30] jackpot51 commented on #1019
Thanks @MGageMorgan for testing. What computer is that? It would be good for debugging to know.

[2017-11-17 23:34] MGageMorgan commented on #1019
System76 Galago Pro. June 2017 build. Antergos atm. Intel i7 U-series piece-of-s***. 2GB RAM (couldn't afford more).

[2017-11-17 23:38] jackpot51 commented on #1019
Where did you buy that from? System76 has only sold the Galago Pro with 4 GB to 16 GB of memory.

[2017-11-17 23:40] MGageMorgan commented on #1019
Nope. When I bought it from system76, they put TWO GIGS. I don't know why, at least thats what it said, let me double check, it might just me being a dumbass, but either way it doesn't work.

[2017-11-17 23:43] MGageMorgan commented on #1019
![screenshot from 2017-11-17 18-41-43](https://user-images.githubusercontent.com/13326489/32973701-1a499242-cbc7-11e7-8956-ded487961cba.png)

Confirmed: I'm a dumbass. But I don't think this exactly changes the problem at hand.

[2017-11-17 23:57] jackpot51 commented on #1019
Thankfully I have access to the exact hardware you have so I will be able to look into it.

[2017-11-18 00:04] MGageMorgan commented on #1019
@jackpot51,

Let me know when you figure it out. I think the fact that you can dethrone C is amazing.

[2017-11-18 00:15] MGageMorgan commented on #1019
For the record, I'm tryna compile Redox from source on the same laptop. Currently jumping through the hoops that are PKGBUILDS to set up the Redox toolchain - I suspect the reason why Redox wouldn't build was because I didn't try to install them

[2017-11-18 01:05] MGageMorgan opened #1107 "BUILD FAILURE: xz GitHub codeload "not having it""
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

On compilation, the cookbook seems to give up. The following summarizes what happened, because apparently XZ couldn't be found, or a wrong URL somewhere or something.

## Environment info

- Operating system:
Antergos Linux
- `uname -a`:
```Linux gages-ZAVINIA-pc 4.13.11-1-ARCH

[2017-11-18 01:15] MGageMorgan commented on #1107
This:
https://codeload.github.com/xz-mirror/xz/archive/v5.2.3.tar.gz
Dead. Straight dead bruh.

I need to figure out an alt package and put it wherever the installer expects it to be...

[2017-11-18 01:18] MGageMorgan commented on #1107
This is what SHOULD be in the installer (I think????): https://github.com/xz-mirror/xz/archive/v5.2.3.tar.gz

Remove 'codeload' from the URL. If I figure out how to fix the files before anyone else, I'll submit a PR for the changes.

[2017-11-18 01:26] MGageMorgan commented on #1107
```redox/cookbook/recipes/xz/recipe.sh```

Get rid of the ```codeload``` tomfoolery, it breaks everything.

[2017-11-18 02:06] MGageMorgan commented on #1107
Progress Report: #62 (lets out loooooong groan):
After replacing URL to get said file, I get this beautiful prompt:

[code]

Buckets of fun!!!

So, let's take a look at the rejects of the day, in case anyone who can figure this out can. I got other stuff I need to do, so sadly I won't get any further than this:

[code]

Good luck to anyone who knows what they're doing, because I sure as hell don't

[2017-11-18 03:20] jackpot51 commented on #1019
Yep, the cross toolchain needs to be installed

[2017-11-18 03:26] jackpot51 commented on #1107
I think this is fixed now - please checkout and pull the cookbook

[2017-11-18 03:37] jackpot51 commented on #1088
I will be working on this soon

[2017-11-18 03:45] MGageMorgan commented on #1019
@jackpot51 Did you get the thing to work on Galago or is it still broken? For some reason I still go out of my way to compile stuff I know won't work on my machine - I did it with ChromiumOS for a 32bit dell, now (possibly) Redox on a machine that doesn't like the prebuilt version. I don't know what's wrong with me lol

[2017-11-18 04:00] MGageMorgan commented on #1107
@jackpot51, could you update the submodule(s) to match the commits in the main repo? I tried pulling the cookbook fresh, but it wouldn't work with me. It fails when I try to use the new commit, and looks like it's because Git wants to make it (seem) more difficult than it really is.

[2017-11-18 04:02] jackpot51 commented on #1019
No, and it will probably be quite some time. In the meantime, running Redox in VirtualBox or QEMU should work.

[2017-11-18 04:23] jackpot51 commented on #1107
The Redox submodule link is up to date now:
[code]

[2017-11-18 05:45] MGageMorgan commented on #1107
Yup, it works now. This REALLY showcases how efficient Rust can be. God, I can run something like Ubuntu or Fedora in QEMU and it'll lag like a bitch - but this - THIS is amazing. My Galago didn't break a sweat during the 15 minutes I played with it. Great work, man. Whenever someone questions Rust's claim to fame of efficiency, this is probably the project they should be referred to.

Not to ment

[2017-11-18 05:45] #1107 closed

[2017-11-18 06:02] toxik-io opened #1108 "development - shallow clones on submodules?"
- [ ] I agree that I have searched opened and closed issues to prevent duplicates.

## Description
Grabbing redox's source tree from scratch can take some time. Is it possible to
set the submodules to shallow clone within the bootstrap script?

This would be applicable to all new redox versions from whenever the patch is
applied, so if it's an inconvenience in the cookbooks or something, we wouldn

[2017-11-18 09:17] bjorn3 commented on #1108
The rust submodule wont work with shallow copies as its submodule llvm doesnt work with it. Even if you set depth to 100000.

[2017-11-20 00:01] HarryU opened #1109 "Make fails in the prepare stage of the cookbook recipe for xz"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

When building Redox, after installing the toolchain and compiler, ```make all``` fails with an error about the prepare stage of the cookbook recipe for ```xz```.

The error message says:

[code]

I suspect the files haven't been un-tarred properly for some reason, but I'm not s

[2017-11-20 05:11] toxik-io commented on #1108
:( awwwwww

[2017-11-20 16:16] sajattack commented on #1096
It works now. `pkg install rust`

[2017-11-20 16:42] HarryU commented on #1109
It seems there may be a fix for this issue in the chat - I'll close it if I get it working later.

[2017-11-20 22:34] HarryU commented on #1109
I have now got this working. I was missing some dependencies.

[2017-11-20 22:34] #1109 closed

[2017-11-21 04:31] sajattack opened #1111 "icmpd: Thread main panicked calling result.unwrap() on an err value: String did not contain valid UTF-8"
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

I've had this error twice now, not sure what's causing it.
![image](https://chat.redox-os.org/files/dkmsu6e177rs8qwesi5ug939fc/public?h=EpcNrjSPQe-sPJZ93iQxouA1R9X92vxTAHBSQSP8pUo)

[2017-11-22 07:14] uityyy commented on #765
# Redox 0.3.4 Update:
## Award WorkstationBIOS v6.00 machine -- still does not work
Reboots automatically after displaying information about memdisk too briefly to read.
## To be continued...

[2017-11-23 19:43] IwHy4XnXCM commented on #1085
Choppiness is just a reality of most virtualization. What software are you using? Usually installing VirtualBox Guest Additions improves framerate, but I haven't figured out how to do this on Redox.

[2017-11-24 20:23] rofrol commented on #615
This one is interesting https://github.com/Thinkofname/stylish

[2017-11-27 15:14] porky11 opened #1112 "Arch linux build doesn't work; exit code 77"
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

After calling `make all` I get this error message:
[code]

## Environment info

I use arch linux 64 bit (i.e. antergos)

- Redox OS Release: master

- Operating system:
arch linux
- `uname -a`:
`Linux linux 4.13.12-1-ARCH #1 SMP PREEMPT Wed Nov 8 11:54:06 CET 2017 x86_64 GNU/L

[2017-11-27 16:48] sajattack commented on #1112
You have to install the toolchain as well. https://doc.redox-os.org/book/getting_started/installing_the_toolchain.html

[2017-11-28 21:07] MichaelHoelzl opened #1113 "(unsafe function - error E0133) Can't compile on Ubuntu or ElementaryOS"
On my new computer i can't compile Redox.
I installed the Redox toolchain and do everything like in the description.

[code]

[2017-11-29 00:00] orim77 commented on #1010
Got to the end with same error as **coreybruce**

command did not execute successfully: "sh"
"/home/orim/work/rust/redox/rust/src/libstd/../libbacktrace/configure" "--with-pic"
"--disable-multilib" "--disable-shared" "--disable-host-shared"
"--host=x86_64-unknown-redox" "--build=x86_64-unknown-linux-gnu"
expected success, got: exit code: 77

--- stderr
configure: error: in  `/tmp/xargo.4ojtWP8uDxc

[2017-11-29 23:17] sajattack commented on #1113
Yeah rust 1.24 broke some stuff.
[code]

[2017-12-02 23:04] BadFactor commented on #696
First of all, Linux OS System is great, but we should keep an Ey on it, Otherwise we have dozen of Distributions that neuer Seen Desktop PC in life Time, like Linux! We should lern from failures and not make the Same! The mistakes that the Linux World makes good is that it offers us "Open" Software and Modularity, Rock solid System. The World is using Windows as there Desktop System, because Its e

[2017-12-02 23:18] BadFactor commented on #696
Sorry for grammar aso. I just needed to say, build a tiled and stacked Ui in one with upgradable Interfaces like the one i write before,  3d Character aso u know what i mean? Going online is good, but going offline is the Same? Dont going to be a online OS Its nonsense, If u know, i mean knowing, just offline System works for some Time, there are pretty awesome for that Time, but the Same can be t

[2017-12-03 01:06] #999 closed

[2017-12-03 01:12] ajzaff opened #1115 "uutils/cat: last line skipped if no trailing whitespace"
## Description
Last line of file may be skipped if no trailing whitespace... `test.txt`:

## Environment info

Using the latest ISO release

- Redox OS Release:
0.3.4

- Operating system:
n/a

## Steps to reproduce

1. Create a new file
[code]
2. When running `cat`
[code]

## Behavior

- **Expected behavior**:
`cat` whole file

- **Actual behavior**:
`cat` missed last line

- **Proposed solution**

[2017-12-03 02:55] dlrobertson opened #1116 "[Docs] Missing documentation on debugging with qemu and gdb"
## Description:
redox-os/redox#1114 makes debugging the kernel easier. Write up
some documentation on how to use `qemu` and `rust-gdb` to debug
the kernel.

## Open questions:
- Where should documentation like this exist?

## Optional references:
 - http://wiki.osdev.org/Kernel_Debugging

## Related to:
- redox-os/redox#1114
- redox-os/kernel#64

[2017-12-03 13:13] fvckya commented on #696
Hi guys, I have a desire to come up with a design for a redox ...
Since I recently in programming (most recently), I can not code with you. But I can help with ideas.

The first change of the logo, of course what I'm offering is just a sketch.
But before continuing, I would like to ask you, otherwise it will be in vain ..
there will be something similar to the logo Rust, and yours.

![logo](https:

[2017-12-03 15:17] jackpot51 commented on #1116
Perhaps it should be in the kernel's readme?

[2017-12-03 19:33] dlrobertson commented on #1116
Yeah, that seems reasonable.

[2017-12-04 01:27] 3442853561 commented on #1096
Terminal tips `os error 99` when I execute `pkg install rust` @sajattack

[2017-12-04 01:38] sajattack commented on #1096
Edited. `pkg install` requires sudo

[2017-12-04 18:46] DemiMarie opened #1117 "Feature request: dual-license under Apache 2.0"
- [X] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

This is a feature request to dual-license under Apache 2.0.  This provides a patent grant clause and has other benefits.

[2017-12-04 23:29] VoidNoire commented on #696
I agree with @nixpulvis about:

and

I think the RedoxOS team at most should simply go with the suggestion by @johalun instead of focusing too much on UI design:

TL;DR Just redesign Orbital (doesn't even have to be Wayland or Wayland-like necessarily) and write good documentation for it such that it is easier for third parties to develop UI components that can be pick and mixed by users as they s

[2017-12-05 02:36] 3442853561 commented on #1096
I can not link the internet in Redox. @sajattack

[2017-12-05 20:04] sajattack commented on #1096
You probably have to update your toolchain. A recent update to redox replaced the networking stack with smolnetd.

[2017-12-08 19:19] mheese commented on #825
in addition to @kenan-rhoton 's comment: I even had to explicitly set the path of nasm to homebrew's version: `/usr/local/bin/nasm`. What surprised me a bit: both nasm versions reported the same version number `NASM version 2.13.02 compiled on Nov 30 2017`.

[2017-12-10 14:44] sajattack opened #1119 "Cmake required by uutils"
So we should either add it to bootstrap.sh or find a workaround. Thoughts @jackpot51 ?

[2017-12-10 14:47] sajattack commented on #1119
As an aside, can we unify the package list as much as possible in bootstrap.sh? Right now there are many places that need to be edited to add a package. I understand some platforms have different names but there should be a core group that's the same.

[2017-12-10 15:35] jackpot51 commented on #1119
We need to add it. I imagine the things requiring it will only grow. Not sure about unifying the package lists - it is important to verify that each platform supported builds correctly with bootstrap.sh, and that makes it too easy to mess up another platform by adding something you think it has.

[2017-12-10 21:36] #1119 closed

[2017-12-13 01:50] jlj2 opened #1121 "dhcpcd: failed to bind udp - No such device (os error 19)"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.
--------------------

## Description

Boot up stopped with the above error today when booting from BIOS using a USB stick with a Redox iso dd'd onto it.
## Environment info

Booted from my x86_64 HP Pavilion G6-2088ca Notebook (CPU: A10 Aruba piledriver with Radeon Graphics).  My router was turned on and plugged in,

[2017-12-13 02:08] jlj2 opened #1122 "panicked at PCI 00/18/01; IHDA: No output pins?!"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.
--------------------

## Description

Boot up stopped with the above errors today and on another day when booting from BIOS using a USB stick with a Redox iso dd'd onto it.
## Environment info

Booted from my x86_64 HP Pavilion G6-2288ca Notebook (CPU: AMD A10 Aruba piledriver;  with Radeon Graphics).  My router was

[2017-12-13 03:46] jackpot51 commented on #1121
It is highly likely you do not have supported ethernet hardware. What ethernet device do you have?

[2017-12-13 18:08] jlj2 commented on #1121
The router is a [Smart sr505n](https://www.smartrg.com/sr505n), approved and supplied by the internet provider.  A data sheet is supplied at that webpage.

[2017-12-13 18:12] jackpot51 commented on #1121
I mean which ethernet device is in your laptop

[2017-12-13 18:28] jlj2 commented on #1121
Full info, in case it can help:-
[code]

[2017-12-13 18:35] jackpot51 commented on #1121
Thanks!

[2017-12-18 14:46] dlrobertson commented on #1116
Fixed with redox-os/kernel#65

[2017-12-18 14:46] #1116 closed

[2017-12-18 21:28] zen3ger commented on #1063
@jackpot51 with [redox-os/kernel@a9fa08f](https://github.com/redox-os/kernel/commit/a9fa08fd7221db9615a482b8a8396829f7c4fc2f) the problem is back. Is there anything I should look into?

[code]

[2017-12-18 21:34] jackpot51 commented on #1063
This looks like a different issue. What processor are you running on? Does using `make qemu kvm=no` fix the issue?

[2017-12-18 21:53] zen3ger commented on #1063
Intel Core i5-3570. `make qemu kvm=no` doesn't fix it, btw kvm is enabled.

[2017-12-19 02:06] sajattack commented on #1063
It's a known issue with ion, you can use bash for now by editing /etc/passwd.

[2017-12-19 08:24] nihathrael opened #1124 "ion crashes with a page fault after login"
- [x ] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

ion crashes with a page fault on login in the terminal or when starting obital in the UI.

## Environment info

- Arch Linux
- qemu and virtualbox

- Operating system:
Arch Linux
- `uname -a`:
`Linux reaper 4.14.6-1-ARCH #1 SMP PREEMPT Thu Dec 14 21:26:16 UTC 2017 x86_64 GNU/L

[2017-12-19 22:39] garethellis0 commented on #1063
Dumb question, but how should `/etc/passwd` be edited to use `bash`? I would expect changing `/bin/ion` to `/bin/bash`, but `/bin/bash` doesn't seem to exist for me? Again, sorry for the dumb question, just getting started with redox.

[2017-12-19 22:44] sajattack commented on #1063
Uncomment bash in filesystem.toml and run make.

[2017-12-20 17:05] sinkarharshad commented on #1063
@sajattack  : Uncomment bash in filesystem.toml and run make : This did not work for me.

[2017-12-20 20:44] sajattack commented on #1063
Did you also edit /etc/passwd?

[2017-12-20 20:48] sajattack commented on #1124
### Temporary workaround:
uncomment bash in filesystem.toml
`make`
`make mount`
edit build/filesystem/etc/passwd, changing /bin/ion to /bin/bash

[2017-12-20 20:49] sinkarharshad commented on #1063
@sajattack "/etc/passwd": Where?
[code]

[2017-12-20 20:50] sajattack commented on #1063
https://github.com/redox-os/redox/issues/1124#issuecomment-353178341

[2017-12-20 20:58] sinkarharshad commented on #1124
@sajattack Worked!!! Thank you :+1:

[2017-12-20 22:06] weclaw1 commented on #1124
Running scripts with ion also results with a page fault,
after disassembling ion and finding line with rip register 56e17f, this is the line that causes the crash:
`lock incq (%rbx)`
Attached below are screenshots with disassembled code and after trying to run a script.
![screenshot_20171220_211001](https://user-images.githubusercontent.com/11092552/34230934-4cca7c2c-e5da-11e7-9e67-5dd2e8c16a43.pn

[2017-12-20 22:12] jackpot51 commented on #1124
That instruction doesn't explain why rbx is 0. Can you show lines above the instruction?

[2017-12-20 22:26] weclaw1 commented on #1124
Here is screenshot with more lines above the instruction:
![screenshot_20171220_232524](https://user-images.githubusercontent.com/11092552/34231658-34b701a2-e5dd-11e7-8851-d07d257a3bff.png)

[2017-12-20 22:32] jackpot51 commented on #1124
Thanks!

[2017-12-28 00:23] MggMuggins commented on #1124
@sajattack I'm fairly sure you can edit the default contents of `/etc/passwd` in filesystem.toml instead of mounting, editing, and unmounting.

[2017-12-29 21:58] #1124 closed

[2017-12-29 21:58] jackpot51 commented on #1124
Sorry that this took so long. I found that the kernel was incorrectly ignoring the TLS segment alignment, which made the offsets calculated by LLVM incorrect.

[2018-01-01 18:15] mmstick commented on #1115
This is a duplicate of https://github.com/redox-os/ion/issues/370

[2018-01-07 17:19] Elzair opened #1131 "Docker build fails with "./autogen.sh: autopoint: not found""
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

I tried building docker using the commands found [here](https://github.com/redox-os/redox/tree/master/docker). It failed with an error about not finding autopoint.

## Environment info
I am running Arch Linux x86-64 using the latest docker package.

- Redox OS Release:
git-mas

[2018-01-08 07:24] bjorn3 commented on #1131
Could you please place the build log inside a `<details>` element?

[2018-01-08 16:50] Elzair commented on #1131
Done.

[2018-01-09 11:48] xftroxgpx commented on #1112
non-ssh version:

[code]

[2018-01-09 13:25] xftroxgpx commented on #1112
This command from [here](https://doc.redox-os.org/book/getting_started/installing_the_toolchain.html)
[code]

is git cloning the `binutils-gdb` again, in a different dir.
Is this intended?

`binutils-gdb` is already cloned by being a module in `libc/binutils-gdb`

[2018-01-09 15:08] fengalin commented on #1131
It should be fixed now.

[2018-01-09 15:39] #1131 closed

[2018-01-09 15:40] jackpot51 commented on #1131
Thanks @fengalin!

[2018-01-11 05:07] nixpulvis commented on #521
All this being said, it's going to still be hard because, IIRC rust doesn't even have all the formal guarantees it needs (yet) see topics like https://github.com/rust-lang/rfcs/issues/1447.

[2018-01-15 09:40] yangchengjian opened #1134 "`impl Trait for .. {}` is an obsolete syntax"
[code]

[2018-01-15 09:41] yangchengjian commented on #1134
[code]

[2018-01-16 08:37] #1134 closed

[2018-01-16 15:53] slump64 opened #1135 "Dead Link License Button in README"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
This button in the README.md goes to a dead link.
![image](https://user-images.githubusercontent.com/14310552/34997770-fa8154d8-fae5-11e7-97ec-1c9b2bb65ccb.png)

[2018-01-16 16:13] jackpot51 commented on #1135
Fixed

[2018-01-16 16:13] #1135 closed

[2018-01-21 02:55] jackpot51 opened #1136 "Redox Crash Challenge"
I have a challenge for any interested parties, including myself. Using this build of Redox OS, attempt to cause the system to do one of the following:

- Escalate privilege
- Lock up
- Kernel panic
- Program crash

Here is the ISO: https://drive.google.com/open?id=1AQ8_LceGcHQPd4D4JC8JzGAdZp1OZnYw

There are a few ways already that I believe lockups or program crashes can be triggered, but I am lo

[2018-01-21 03:01] jackpot51 commented on #1136
Found an interesting one, if you run `cat zero:` inside `orbterm`, `ptyd` will grow in memory
[code]

[2018-01-21 03:22] xTibor commented on #1136
Host: KDE neon 5.11 (Ubuntu 16.04)
VirtualBox: 5.0.40_Ubuntu r115130

Continuously resizing the guest window causes Orbital to panic: https://i.imgur.com/f45draf.png

[2018-01-21 03:34] xTibor commented on #1136
[code]
Page fault:
<details>
<pre>
Page fault: 0000017FFFFFFFF8
RFLAG: 0000000000010013
CS:    0000000000000008
RIP:   FFFFFF0000191C84
CODE:  0000000000000002
RAX:   FFFFFE8000571948
RCX:   00000000000CA080
RDX:   000000000004FFB0
RDI:   0000004000000000
RSI:   000000400004FFB0
R8:    0000000000000000
R9:    0000000000000011
R10:   0000000000000001
R11:   0000000000000001
RBX:   FFFFFE80001E2E58

[2018-01-21 03:57] xTibor commented on #1136
[code]

Orbital panics with:
[code]

[2018-01-21 04:54] xTibor commented on #1136
[code]

Kernel panic:
<details>
<pre>
PANIC: FFFFFF0000101000: Set to 101000: PRESENT | ACCESSED | GLOBAL, requesting 2BA5E000: WRITABLE | NO_EXECUTE
FILE: src/arch/x86_64/paging/mapper.rs
LINE: 105
TRACE: FFFFFE8000201930
  FFFFFE8000201930: FFFFFF0000164DCA
    FFFFFF0000164C20+01AA
    rust_begin_unwind
  FFFFFE80002019C0: FFFFFF00001A5F04
    FFFFFF00001A5E80+0084
    core::panicking::panic_fm

[2018-01-21 06:31] komawoyo commented on #1136
`user:~# /kernel`
Entire OS Freeze

[2018-01-21 07:02] pharaone commented on #1136
trying to load Twitter's website makes the browser freeze

[2018-01-21 07:28] pharaone commented on #1136
if we fill a terminal window with long commands and then reduce it and try to close it, the system will freeze after about 20 seconds
here there is a private video only accessible with the link : https://youtu.be/GuKtJLn-s14
in the description there are the precise steps to do to crash the system

[2018-01-21 07:52] ruipacheco commented on #1136
I wonder if there are frameworks to fuzz kernels.

[2018-01-21 09:15] Flakebi commented on #1136
It's not actually a framework, but a successful fuzzer for linux syscalls: https://github.com/google/syzkaller

[2018-01-21 10:25] nocturne-noctem commented on #1136
Selecting the 2560x1600 resolution consistently [causes a panic](https://i.imgur.com/wGp8JM6.png) on my system. Logging in at any other resolution causes a similar [out-of-frames panic.](https://i.imgur.com/AV2Sypt.png) Running the 0.3.4 .bin release works without problems.

[2018-01-21 10:48] batonius commented on #1136
It would be interesting to fuzz `ip:`, `udp:`, `tcp:` and `icmp:` schemas, I'm pretty sure it's possible to at least leak resources like memory and port numbers by misusing the network stack.

[2018-01-21 11:24] DarkDrek commented on #1136
Using `cksum /` in the shell results in `ion: process (109) ended by signal 11` after that the shell is unusable.

[2018-01-21 12:33] GeorgeKT commented on #1136
No crash, but it just uses all of the CPU all of the time, when starting a vm with virt-manager

[2018-01-21 13:00] pharaone opened #1137 "If the user's name is too long you can't remove it anymore"
![cattura](https://user-images.githubusercontent.com/17162630/35194394-531c7d86-feb3-11e7-93a9-951b3f35ba6e.PNG)
If the user's name is too long you can't remove it anymore, so you have to restart

[2018-01-21 14:34] tomaka commented on #1136
Similarly to a previous comment, `cat /kernel` freezes the OS for me.

[2018-01-21 15:19] pharaone commented on #1136
Even only “/kernel” freezes the os for me

[2018-01-21 17:30] IsaacWoods commented on #1136
Not sure if this is what you're looking for, but booting without enough memory causes a kernel panic with no message (got as far as `StartupArch` with 512MB on qemu). This was over COM1:
[code]

[2018-01-21 17:31] ruipacheco commented on #1136
I wonder what other OSs do in this case.

[2018-01-21 17:43] komawoyo commented on #1136
Entered a long string is it stopped taking any other commands
![image](https://user-images.githubusercontent.com/18315233/35197069-3cbb2c26-fea0-11e7-9c63-5b19dc8cde60.png)

[2018-01-21 17:51] komawoyo commented on #1136
Adding on to what @pharaone did, expected that resizing window would have the text wrap on window resize but all the text disappears and later freezes

[2018-01-21 18:03] komawoyo commented on #1136
running the below command anywhere, regardless of whether its in root or /bin, freezes os
[code]

[2018-01-21 18:11] daboross commented on #1136
I'd guess there's something about reading from /kernel in general, which would cause https://github.com/redox-os/redox/issues/1136#issuecomment-359267483 (`/k*`), https://github.com/redox-os/redox/issues/1136#issuecomment-359255824 (`/kernel`), https://github.com/redox-os/redox/issues/1136#issuecomment-359252813 (`cat /kernel`), https://github.com/redox-os/redox/issues/1136#issuecomment-359224006

[2018-01-21 18:13] komawoyo commented on #1136
not sure if this is suppose to work
![image](https://user-images.githubusercontent.com/18315233/35197406-82cb64e8-fea4-11e7-860d-b48de9d53650.png)

[2018-01-21 18:52] Dietr1ch commented on #1136
Is qemu supported? If so, when I ran `pkg install fd` it froze the machine, but it worked the next 2 times I restarted.
When it failed it was before doing any output, maybe the lock it's related to the network stack

Host: Linux 4.15.0-1-MANJARO #1 SMP PREEMPT x86_64 GNU/Linux
Emu: qemu-system-x86_64 2.11.0  / aqemu 0.9.2

[2018-01-21 21:29] daboross commented on #1136
@Dietr1ch could you share the command you used to run qemu?

I don't experience any lock-ups with either scenario with qemu 2.10.1 on Ubuntu 16.10, running both with and without kvm acceleration:

[code]

[2018-01-21 21:39] Dietr1ch commented on #1136
@daboross aqemu says it's running this,

[code]

[2018-01-21 21:41] SirCmpwn commented on #1019
I also get a boot loop attempting to run the latest Redox ISO off of a USB drive on a ThinkPad X200. This laptop has successfully run Linux, OpenBSD, NetBSD, Haiku, Minix, and plan9 before, so I assume the hardware is rather well understood.

[2018-01-21 22:06] johnkeates commented on #1136
Clicked the bottom row of Icons from right to left, clicked the calendar away in the process because it was in the way, as soon as I reach terminal it hangs.

[2018-01-21 22:54] rickyz commented on #1136
Here are two bugs - these have only been tested against a pretty ancient version (https://github.com/redox-os/redox/commit/9aa81e571dd39fe145354ba3553ea7676d299b2b), so they may or may not still apply - sorry for not getting around to reporting earlier!

Bug 1: When the kernel performs a syscall against a user scheme and passes an output pointer in kernel memory, that entire page of kernel memory

[2018-01-22 00:24] MGageMorgan commented on #1019
@jackpot51 I DID NOT FUCKING REALIZE YOU WORKED AT SYSTEM76. Holy hell that must be a fun job...

[2018-01-22 01:24] milkey-mouse commented on #1092
I suppose this should be closed... https://changelog.com/podcast/280

[2018-01-22 02:26] jackpot51 commented on #1136
@rickyz I have addressed bug 2 here: https://github.com/redox-os/kernel/commit/dcb49be48133cf811dcd870e8af5f7ffaffc2ab0

Bug 1 will require more effort, I have created a bug here: https://github.com/redox-os/kernel/issues/82

[2018-01-22 02:27] jackpot51 commented on #1092
Yeah, probably so

[2018-01-22 02:27] #1092 closed

[2018-01-22 02:28] sailfish009 commented on #1136
run browser in menubar:

`Failed to send request: No such device (os error 19)`

[2018-01-22 03:11] komawoyo commented on #1136
@sailfish009 I don't think your network adapter is setup correctly - unless I'm interpreting your procedure incorrectly. Browser is able to load a webpage on my end

[2018-01-22 03:55] OdysseusGE commented on #1136
It's no crash, but piping input to `less` is broken.
Try `help | less` and press return. Now both less and ion are fighting over stdin/out.

I can't replicate this behavior using ion and extrautils/less on the host machine.

[2018-01-22 04:50] pharaone commented on #1136
I think @komawoyo first comment isn't a crash of the ion shell. If you press Ctrl+C it will restart working like normal, so that's not a crash is only a bug

[2018-01-22 04:57] pharaone commented on #1136
Do I have do create a bug report for my second comment?

[2018-01-22 05:07] sailfish009 commented on #1136
@komawoyo  i am not sure, but ubuntu works fine within my virtualbox here.

[2018-01-22 05:15] OdysseusGE commented on #1136
Trivial privilege escalation in su.
EOF at password prompt returns root shell.

[2018-01-22 05:35] xTibor commented on #1136
A less serious bug: The `sudo` command doesn't check the target's executable permission bit.

[2018-01-22 06:20] sailfish009 commented on #1136
[code]

[2018-01-22 12:40] ricklamers opened #1138 "cd 'usr/' looping [not sure if expected behaviour]"
- [* ] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

Issue: when navigating to the /usr directory by using 'cd' in the terminal it nests (seemingly) infinitely.

Not sure if expected behaviour?

## Environment info

Virtualbox 5.2.6, Windows 10, VTx/KVM, Intel CPU,

- Redox OS Release:
0.3.4

## Steps to reproduce

1. Open termi

[2018-01-22 17:43] xTibor commented on #1138
It shouldn't happen anymore, fixed by https://github.com/redox-os/redox/commit/709ca99eae56f422d4412746b9ee18ed9794a7f4.

[2018-01-23 11:42] sbechet opened #1141 "[idea/feature] Be compatible with RISC-V architecture"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.
## Description

Port redox on RISC-V because it is fun.

See [RISCVEMU](https://bellard.org/riscvemu/) and [128-bits rust support](https://github.com/rust-lang/rfcs/pull/1504).

[2018-01-23 12:51] batonius commented on #1141
The privileged ISA hasn't been stabilized yet tho: https://riscv.org/specifications/privileged-isa/ .

[2018-01-23 17:09] gsuberland commented on #33
I'm a late to the party here, but if @jackpot51's suggestion of seeding improvements is followed up in future, please take care not to use the "random data from kernel memory" idea stated earlier in the thread. Such an approach is likely to produce a side-channel oracle that reveals either kernel memory or PRNG state, either directly or via cache timing.

Additionally, on systems where rdrand is n

[2018-01-24 20:50] BearzRobotics opened #1142 "cook Logd not found."
- [x ] I agree that I have searched opened and closed issues to prevent duplicates.

## Description
When I went to build redox I got an error:
repo - fetching logd
cook.sh: recipe 'logd' not found
./repo.sh failed.mk/filesystem.mk:2: recipe for target 'build/filesystem.bin' failed
make: *** [build/filesystem.bin] Error 1

## Environment info
- Operating system: Solus, with the docker container.
un

[2018-01-25 08:03] zachlute commented on #1142
I fixed this locally when trying to build for the first time, so I went ahead and created a PR.

[2018-01-26 03:39] BearzRobotics commented on #1142
So after coming back and checking I seen that @zachlute patch was merged. After updating the cookbook it building fine. So I'm going to close this.

[2018-01-26 03:39] #1142 closed

[2018-01-28 00:52] ujeenator commented on #1136
Is it possible to run Redox in macOS Parallels?

After loading Redox OS ISO, it's works until this point:

<img width="646" alt="screen shot 2018-01-28 at 1 50 15 am" src="https://user-images.githubusercontent.com/1893760/35477849-bb37cdc0-03cd-11e8-87d1-0954aacc1705.png">

Then it's just black screen.

[2018-01-28 01:08] johnkeates commented on #1136
@ujeenator select a different resolution, also, give it more RAM and VRAM.

[2018-01-28 02:04] ujeenator commented on #1136
@johnkeates thank you for the advice

I have tried different configurations up to 2GB RAM and 512 VRAM

And I still getting black screen just after Redox's resolution configuration

[2018-01-28 20:28] rnleach commented on #1136
@ujeenator I have the same problem.

[2018-01-29 13:44] #1083 closed

[2018-01-31 16:05] rm1984 commented on #878
Hi, I had the same problem (cursor of the PS/2 virtual mouse not moving, and locked in the upper left corner), but by clicking on "Input" then "Mouse Integration" it works! ;)

[2018-02-02 02:31] ids1024 commented on #878
On real hardware, the touchpad works on some laptops. I've tested on two; one worked (that touchpad uses PS/2 interface) on another it didn't (that touchpad uses an i2c interface, which Redox doesn't have a driver for).

[2018-02-06 11:27] Ddnirvana commented on #1141
Good idea! Even linux has supported RISC-V architecture. BTW, spike and qemu are also great simulator choices for porting.

[2018-02-06 16:39] feikname commented on #950
I have the same problem with a HP Pavilion dv2260BR notebook (It's a variation of the dv2000 made for Brazil) using Redox 0.3.4 live. In addition to the touchpad lag, keyboard input is also laggy.

Changing resolution doesn't affect input performance.

<details>
<summary>GIF</summary>
https://imgur.com/a/MGyhF
</details>

<details>
<summary>Notebook specs</summary>
 * Processor: Intel Core 2 Duo T

[2018-02-06 18:54] feikname commented on #765
Maybe a GitHub wiki page for that would be nice?

[2018-02-10 19:23] surfingdmx commented on #1137
Could not confirm. What is too long?
I agree that entered text flows out of the input field, but characters can be deleted with backspace (although they do not disappear outside the box), the user name can be enterd and login is successful.

[2018-02-10 19:28] pharaone commented on #1137
For too long I mean that the text goes out of the screen

[2018-02-11 16:35] slump64 opened #1144 "[Noob question] Why this warnings are not fixed?"
## Description
![image](https://user-images.githubusercontent.com/14310552/36075629-4f6452c4-0f5a-11e8-846e-ae07571ba9ae.png)
Why all these warnings are not handled?

[2018-02-11 18:08] BearzRobotics opened #1145 "Compile time error"
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

## Description
The compile fails on the xz recipes.

## Environment info
Ubuntu 16.04, fresh from github.
repo - preparing xz
cook - xz prepare
patching file src/xz/file_io.c
patching file src/common/tuklib_open_stdxxx.c
patching file src/xz/message.c
patching file src/xz/signals.c
patching file src/xz/file_io.c
r

[2018-02-11 18:13] BearzRobotics commented on #1141
I know its a bit expensive, but I wanted to post that they now have a computer capable of running Linux.
https://www.crowdsupply.com/sifive/hifive-unleashed

[2018-02-11 18:31] slump64 commented on #1145
Update your distribution.
Also there's plenty of automake versions, pick whichever you want that is higher than 1.12:
http://ftp.gnu.org/gnu/automake/

[2018-02-13 01:23] BearzRobotics commented on #1145
thanks that fixed it.

[2018-02-13 01:23] #1145 closed

[2018-02-19 23:29] MggMuggins commented on #905
Seems like `unwrap_or_exit` is helpful for this, it allows short sourcecode and propagating specific errors up to the user. Error messages could theoretically improved by improving the quality of error messages coming out of the syscall crate.

Another thing that will help is clap-rs for utilities. For example, userutils is already ported, and that helps with validation of arguments. Might be good

[2018-02-20 00:02] #1076 closed

[2018-02-20 22:48] LifeIsStrange commented on #521
It seems you are lucky :)
https://news.ycombinator.com/item?id=16302530

[2018-02-23 17:13] php5engineer commented on #886
Shot up a few videos to show what exactly we mean by erratic cursor movement
ASUS UN62V, i7-4600U, Redox 0.3.4 on LiveUSB, Canyon CNE-CMS1 mouse

[redox - horizontal vertical lines.m4v.zip](https://github.com/redox-os/redox/files/1752469/redox.-.horizontal.vertical.lines.m4v.zip)
[ubuntu - horizontal vertical lines.m4v.zip](https://github.com/redox-os/redox/files/1752468/ubuntu.-.horizontal.vertic

[2018-02-24 10:00] aario opened #1146 "Docker Build Fails - Could not find liblzma using pkg-config"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

Docker build fails in making the filesystem step (After the 2 seconds sleep):
[code]

## Environment info

Here is how I ran the docker in interactive mode:
[code]

- Operating system:
Docker taken from:
`https://hub.docker.com/r/redoxos/redox/`

Ran on:
`Debian GNU/Linux 9 (st

[2018-02-24 19:11] plavcik opened #1147 "unrecognized OS type: OpenBSD"
I was going to compile Redox OS on OpenBSD 6.2 amd64

via
curl -sf https://raw.githubusercontent.com/redox-os/redox/master/bootstrap.sh -o bootstrap.sh && bash -e bootstrap.sh

and got
rustup: unrecognized OS type: OpenBSD

[2018-02-24 20:17] linouxis9 commented on #1146
Same issue while trying to manually compile RedoxOS.
Tried to cross-compile liblzma in the toolchain's sysroot, to no end..

[2018-02-25 10:10] albuic commented on #1146
Same issue:
  * OS : Debian
  * Library intalled (the command ```pkg-config --libs liblzma``` return ```-llzma```)

[2018-02-25 17:25] fabiao commented on #1146
OS: Pop OS
pkg-config --libs liblzma -> llzma

[2018-02-25 18:53] redox-questions opened #1148 "ASLR/KASLR for Redox OS"
Hello,

Redox OS is just wow. Extreme great idea.

But I have to ask a few questions, first starting with Address space layout randomization and the same for the Kernel.

Maybe a TODO list in GitHub issues. It is another security mitigation.

https://en.wikipedia.org/wiki/Address_space_layout_randomization
https://www.youtube.com/results?search_query=aslr

Will Redox OS use them by default & manda

[2018-02-25 18:55] toxik-io commented on #1148
That would be reeeeaaaaally cool to do. I've always wanted to do that.

[2018-02-25 19:59] Tetralux commented on #1148
On Widows, it is nice for pointers to be deterministic over multiple runs
of the program for step-by-step debugging.

Not being able to turn off ASLR can be quite annoying and wastes your time
as you have to use a more fiddly, and generally clunky ways to figure out
what's wrong. If the pointers were constant, then you just set a data
breakpoint and be done with it, for example. And, indeed, the s

[2018-02-25 20:08] redox-questions commented on #1148
Eye-opening comment, thanks.

Maybe a feature to disable it on kernel source level? Then re-compile the kernel then ASLR/KASLR would be off.

But this is only a feature-request like issue, could change in time.

[2018-02-25 20:47] Tetralux commented on #1148
That would mean that if you installed Redox and all your programs, only to realise that you'd got the wrong version then you'd have to waste your time finding the right one and doing the installation all over again.

Off the top of my head, one way you could do it would be for the OS to only run ASLR-enabled exectables on user systems, and to run everything on developer systems.
Maybe a system opt

[2018-02-25 20:52] Tetralux commented on #1148
However, I should note that may even be overkill.

While ASLR does ensure that you cannot predict where in memory you're gonna be, does that even help?
Like... what problem does having ASLR even solve? Like, *actually solve* - not just theorectically solve?
Like, if you just make it so that a process cannot write to the memory of another, does that not solve the primary motivation? Or am I missing

[2018-02-25 21:17] rexlunae commented on #1148
The problem that it solves is that a predictable memory layout is easier to
attack.  It's a mitigation, which makes bugs harder to exploit and makes
exploits less likely to be as dangerous, but it doesn't prevent the
underlying bug.  And it is such a consensus solution that it has been
implemented in every major operating system.  I think the virtues that you
cited of pointer constancy are exactly

[2018-02-26 00:10] Tetralux commented on #1148
Well, yes. *Obviously* the reason for having address randomization is so that you don't have pointer constancy. But I specifically said "actually solve" -- you said it yourself -- it's doesn't *solve* anything - it just makes it harder.

But _what_ though? _What_ does it make harder that just making the memory inaccessible to anything not in the kernel, or outside the current process without serio

[2018-02-26 09:45] minecrawler commented on #1148
## My opinion

In how many situations is it important to have constant pointers when developing a program? We have symbols and advanced debuggers which help us debug, even when using ASLR. There might be some devs, who profit from constant pointers in some situations, but I think that's a minority and I, personally, from the perspective of a user and application developer, would prefer the benefit

[2018-02-26 10:31] rexlunae commented on #1148
That actually brings up a good point about valuing developed time, which I
would personally rate as a secondary but not irrelevant goal.  But if you
are valuing developer time, having a configuration system that allows lots
of knobs to be turned one way or another, especially for a feature as
integral to the design as ASLR tends to be, you are going to introduce a
lot of complexity and debugging j

[2018-02-26 12:49] FSMaxB commented on #1148
I always thought that the only difference in the ELF that is required to enable ASLR is that the code is relocatable (pie) and the ELF is flagged accordingly. Disabling ASLR would then be as easy as just using a fixed offset instead of a random one. The only complexity would then come from the system that is required to provide the configuration to enable/disable it.

Or maybe I don't understand i

[2018-02-28 19:43] Tetralux commented on #1148
@minecrawler
I'll note that I generally agree with the sort of the philosophy outlined in the blog post that you linked.

I do not agree however, that people who would want that flag are "black-heads", by which I assume you  mean that they have nefarious intent -- which, as one of them, suggests to me that you are a little bit ignorant and arrogant. 🤔

I'll also point out that VS has several issue

[2018-03-01 08:45] FSMaxB commented on #1148
@Tetralux

You don't need to turn of ASLR in order to debug an executable! This only makes a difference if you work with raw addresses (or there is some weird dependency on the location in memory), which 99% of the time is not necessary because stepping through the code is enough. Disabling ASLR is therefore not necessary for normal debugging. But for some debugging scenarios it is absolutely esse

[2018-03-02 14:21] deepaksirone opened #1149 "cd ':' Causes kernel panic"
- [x ] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

Running cd ':' in ion causes a kernel panic (Invalid Opcode Fault) for any user

## Environment info

- Redox OS Release:

- Operating system:

- Redox 0.1.33
- rustc 1.26.0-nightly (3eeb5a665 2018-03-01)
- a613f07496cc0c781cc2998cbac5a4f8346405d0

## Steps to reproduce

1. Ru

[2018-03-03 14:55] chengyi opened #1150 "Can't find configure.sh"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

## Environment info

- Redox OS Release:
0.0.0 Remove me

- Operating system:
Replace me
- Linux prowdev-home 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

`Replace me`
- rustc 1.26.0-nightly (3eeb5a665 2018-03-01)
`Replac

[2018-03-03 16:30] xTibor commented on #1150
@jackpot51 The cookbook submodule needs to be updated. This is that autogen issue you fixed recently.

[2018-03-03 20:41] sajattack commented on #1147
That sounds like a problem with upstream Rust.

[2018-03-04 01:44] Tetralux commented on #1148
@FSMaxB

I mean... it _is_ a debug build.

If that actually does turn off ASLR by default while debugging then, GREAT. Props to them for doing so!
**Everyone** should do this.

[2018-03-05 11:55] minecrawler commented on #1148
That's why I used the expression "most people". Thanks for attacking me, though.

I never said anyone should use VS. There independent software available, which allow you to mix and match your experience and create an optimized tool chain and editing suite for your custom needs.

Exactly. They are tools following the UNIX philosophy of one tool  per task. So, you are able to pick the tools you lik

[2018-03-07 14:03] CV001A commented on #670
root/password

[2018-03-08 14:43] chengyi opened #1152 "netserf compile error"
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
Compile Error

## Environment info

- Operating system:
-Linux 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- rustc 1.26.0-nightly (e026b59cf 2018-03-03)
- 045a6d5647beb7426a51bf14913c2c4e79deeab2

## Steps to reproduce
ma

[2018-03-08 15:03] jackpot51 commented on #1152
You need to update your cross compiler

[2018-03-08 20:13] eddyp commented on #1108
The problem is not llvm, it is actually a git missing feature for the initial clone, plus an issue due to the fact github does not allow fetching by sha1.
I tried looking into the git and the ugly submodule part of it and opened a discussion about the possible implementation of the feature.

My feeling is that it should be possible to speed cloning a lot by doing a shallow clone in all submodules,

[2018-03-09 13:54] Herbstein opened #1154 "Build fails while compiling std v0.0.0"
- [ x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
Going through the described install process leaves me with a non-compiling project. I suspect it might have to do with not installing the `x86_64-unknown-redox` toolchain. Running `rustup install x86_64-unknown-redox` results in `error: toolchain 'x86_64-unknown-redox-gcc' is n

[2018-03-11 05:02] keawade commented on #1154
I've run into this as well.

`uname -a`:
[code]

`rustc -V`:
[code]

`git rev-parse HEAD`:
[code]

Error:
[code]

[2018-03-11 20:16] sajattack opened #1155 "no /bin/sh symlink"
Redox needs a /bin/sh symlink either to ion or bash, especially for execvp.

[2018-03-13 11:28] swiesend commented on #1154
same thing over here, when I follow the documentation on the README.md with the [Manual Setup](https://github.com/redox-os/redox#-manual-setup-)
[code]
[code]

[2018-03-13 14:36] jackpot51 commented on #1154
Do you have the Redox toolchain installed? See the instructions here: https://github.com/redox-os/cookbook/blob/master/README.md

[2018-03-13 15:06] keawade commented on #1154
Okay, that resolved my issue.

However, I now I'm getting a new error from `make all`.

[code]

I ran `rustup update` to grab the latest nightly and I'm using nightly as my default (`rustup default nightly`) and I have run `make pull` and `make fetch` to grab the latest code.

`rustc -V`:
[code]

`git rev-parse HEAD`:
[code]

[2018-03-13 17:31] Herbstein commented on #1154
That did it for me. I would recommend spelling it out a bit more in the instructions, since it's not really mentioned before you start poking around.

[2018-03-15 11:54] redox-questions opened #1156 "Will Redox-OS have a hardened malloc?"
OpenBSD has an "S" option for malloc (mitigation):

ln -fs S /etc/malloc.conf

https://man.openbsd.org/malloc.conf

    S - Enable all options suitable for security auditing.
    C - “Canaries”. Add canaries at the end of allocations in order to detect heap overflows. The canary's content is checked when free(3) is called. If it has been corrupted, the process is aborted.
    G - “Guard”. Enable g

[2018-03-15 11:58] redox-questions opened #1157 "W^X for Redox-OS?"
https://en.wikipedia.org/wiki/W^X

W^X ("Write XOR Execute"; spoken as W xor X) is a security feature in operating systems and virtual machines. It is a memory protection policy whereby every page in a process's or kernel's address space may be either writable or executable, but not both. Without such protection, a program can write (as data) CPU instructions in an area of memory intended for data

[2018-03-15 12:01] redox-questions opened #1158 "Run-time value of a gap page that gets inserted at the top of a new stack frame in Redox-OS?"
OpenBSD has a kern.stackgap_random sysctl:

https://man.openbsd.org/sysctl.2

KERN_STACKGAPRANDOM (kern.stackgap_random)
    Sets the range of the random value added to the stack pointer on each program execution. The random value is added to make buffer overflow exploitation slightly harder. The bigger the number, the harder it is to brute force this added protection, but it also means bigger was

[2018-03-15 12:06] redox-questions opened #1159 "Random process PIDs in Redox-OS?"
https://security.stackexchange.com/questions/88692/do-randomized-pids-bring-more-security

PID is for Process ID.

Having random PIDs could "Protect against PID prediction vulnerabilities" and "As a general preventive measure".

Will Redox OS use it?

Thanks.

[2018-03-15 12:27] redox-questions opened #1160 "Never support PAM, use BSD Authentication instead"
"PAM is a pretty ugly set of hacks, frankly, and the Linux implementation is actually quite gross. "

Use BSD Authentication instead:
https://en.wikipedia.org/wiki/BSD_Authentication
https://man.openbsd.org/authenticate.3

Will Redox OS use the safer BSD auth?

Thanks.

[2018-03-15 12:31] redox-questions opened #1161 "Will Redox-OS use PIE?"
https://www.openbsd.org/papers/asiabsdcon2015-pie-slides.pdf

https://en.wikipedia.org/wiki/Position-independent_code

A PIE binary and all of its dependencies are loaded into random locations within virtual memory each time the application is executed. This makes Return Oriented Programming (ROP) attacks much more difficult to execute reliably.

Will Redox OS use it?

Thanks.

[2018-03-15 12:44] redox-questions opened #1162 "Will Redox-OS use pledge?"
https://man.openbsd.org/pledge.2
https://news.ycombinator.com/item?id=10537268
https://www.openbsd.org/papers/eurobsdcon2017-pledge.pdf

What is Pledge?

pledge is a system call.

Calling pledge in a program is to promise that the program will only use certain resources.

Another way of saying is to limit the operation of a program to its needs, e.g.,

    "I pledge not to use any other ports exce

[2018-03-15 12:52] redox-questions opened #1163 "Driver separation in Redox-OS?"
Examples for driver separations:

- touchpad drivers shouldn't have to do anything with network access
- wireless drivers shouldn't be able to touch anything from ex.: /home
- graphics/wireless/sound/disk/etc. drivers shouldn't be able to get anything from keyboards
- microphones shouldn't have to do anything with network access

Since Redox is a microkernel, maybe it would be easier to implement

[2018-03-15 12:58] redox-questions opened #1164 "Will Redox-OS use privilege separation by design?"
https://en.wikipedia.org/wiki/Privilege_separation

In computer programming and computer security, privilege separation is a technique in which a program is divided into parts which are limited to the specific privileges they require in order to perform a specific task. This is used to mitigate the potential damage of a computer security vulnerability.

Privilege Separation examples:
Qmail
Postfix

[2018-03-15 13:05] xTibor commented on #1163
They are already separated using a concept called null namespaces. The driver processes enter this namespace after they done their initialization, after that they are unable to open any new files on the system and they cannot leave this state.

[2018-03-15 13:05] redox-questions opened #1165 "Will Redox using arc4random (ChaCha20)?"
OpenBSD uses arc4random:

https://man.openbsd.org/random.4
https://man.openbsd.org/arc4random.3
https://www.openbsd.org/papers/hackfest2014-arc4random/mgp00015.html
https://www.openbsd.org/papers/hackfest2014-arc4random/
https://www.openbsd.org/papers/eurobsdcon2014_arc4random/

Kernel entropy pool is seeded by bootloader:
https://www.openbsd.org/papers/hackfest2014-arc4random/mgp00019.html

Will

[2018-03-15 13:08] redox-questions opened #1166 "Library order randomization in Redox OS?"
"Library order randomization: In rc(8), re-link libc.so, libcrypto, and ld.so on startup, placing the objects in a random order. Theo de Raadt and Robert Peichaer, May 2016, enabled by default since OpenBSD 6.0 and 6.2. "

Will Redox OS use it?

Thanks.

[2018-03-15 13:20] jackpot51 commented on #1156
The man page is unclear as to what that means - is there a technical explanation?

[2018-03-15 15:29] #1163 closed

[2018-03-15 15:29] jackpot51 commented on #1164
It already has privilege seperation

[2018-03-15 15:29] #1164 closed

[2018-03-15 15:31] jackpot51 commented on #1157
Redox already uses W^X: https://github.com/redox-os/kernel/blob/master/src/syscall/process.rs#L605

[2018-03-15 15:31] #1157 closed

[2018-03-15 15:35] jackpot51 commented on #1159
Yes, we plan to support this

[2018-03-15 15:35] #1159 closed

[2018-03-15 15:36] jackpot51 commented on #1160
We are not using either

[2018-03-15 15:36] #1160 closed

[2018-03-15 15:45] le-jzr commented on #1156
Canaries: `malloc()` writes a special known value, the canary (possibly dependent on the address and size of the allocation), immediately before and/or after the allocated span. `free()` checks that the canaries have not been changed. If buggy code overwrites the canary, `free()` emits a warning message or aborts program.

Guard pages: When allocating a span that's a multiple of page size, the pag

[2018-03-15 21:52] jackpot51 commented on #1166
Maybe

[2018-03-15 21:53] jackpot51 commented on #1165
I am not sure what algorithm we will settle on, but chacha20 looks good

[2018-03-15 21:54] jackpot51 commented on #1162
We already have a similar approach using scheme namespaces that is very general

[2018-03-15 21:54] #1162 closed

[2018-03-15 21:55] jackpot51 commented on #1161
Maybe

[2018-03-15 21:55] jackpot51 commented on #1158
Probably, after other kernel randomization features are implemented

[2018-03-15 21:59] ids1024 commented on #1155
The `dash` package includes a symlink in `/bin/sh`. Dash provides this rather than bash mainly just because dash was ported first, though it is also a simpler shell. This probably should be configurable in some way.

Ion would not be suitable, since it intentionally is not bourne compatible.

[2018-03-17 21:32] MarkusBarthlen commented on #1154
I am having the same problem as  @keawade. Considering the docker build didn't give me this error before, I would say we didn't forget to run a command.

[2018-03-18 10:49] MarkusBarthlen commented on #1154
Anyway, after changing rust-toolchain to nightly-2018-03-05 everything compiled and make qemu worked fine.

[2018-03-20 06:06] romulasry opened #1167 "Abstract out rust version specific code"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

This way you don't have to change hundeds of lines of code only, instead only the specfici code that has changed.

[2018-03-20 08:03] minecrawler commented on #1167
is that even possible?

[2018-03-20 09:49] toxik-io commented on #1167
I feel like glue code would be bad for the purposes of the project. Knowing what lines you're using in the compile would be important.

Granted, traces would show where something goes wrong...

*if* it makes the code DRYer, then sure. A singular bridge library that could be tested in CI giving calls across different versions of rust.

I don't know if supporting any version besides edge rust is int

[2018-03-20 18:34] ids1024 commented on #1167
As far as I'm aware, it's not currently possible to develop a kernel in Rust currently without various unstable features. Most (but probably not all) userspace components can or could be compiled on stable.

[2018-03-21 03:00] romulasry commented on #1167
Using the latest rust is ideal, I just thought there could be less lines of code to change in an upgrade if done this way. You still would have a minimum version of rust needed, but you could easily upgrade to the latest rust and add features from the latest without having to change too many lines of code.

[2018-03-21 22:20] theIDinside commented on #1154
I have the same issue as @MarkusBarthlen. I've installed the toolchain, but now it's complaining about a bin directory not existing. This seems to be an error with building qemu - if building qemu also is done with the make all command. Because it says that the compilation is finished, but

[code]

And when doing ``` make qemu ``` after that, I get the same error:
[code]

Any help would be appreci

[2018-03-23 03:39] liutongshuo commented on #1154
I just copy :
`~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/bin `
to
` ~/.rustup/toolchains/nightly-2018-03-04-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/`

[2018-03-24 13:51] pharaone opened #1168 "Redox doesn't support long pression of a button"
If you try to delete something you will press delete for every letter(or number ...) you want to delete, if you try long pressing redox won't do anything.

[2018-03-24 13:53] pharaone opened #1169 "Double Cursor using NetSurf"
While using netsurf redox will show you 2 cursors: the os's one and the netsurf's one. Here on the video you can see that appening: https://www.youtube.com/watch?v=NgzjQfocCIE

[2018-03-24 14:00] xTibor commented on #1169
This is issue is already tracked in a cookbook ticket: https://github.com/redox-os/cookbook/issues/126

[2018-03-25 11:06] pi-pi3 opened #1170 "Can't build Redox on Void Linux. (linker error)"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
When trying to build Redox on Void Linux amd64, I get a linker error while building filesystem/extrautils from the cookbok. `x86_64-unknown-redox-gcc` reports the symbols `lzma_stream_decoder`, `lzma_end` and `lzma_code` are missing from the `tar` dependency.

## Environment inf

[2018-03-26 10:44] pitdicker opened #1172 "Question: should reading from "rand:" care about a maximum number of fd's"
In [Rand](https://github.com/rust-lang-nursery/rand) we now store a single file descriptor to `/dev/urandom` in a global static, to avoid running out of file descriptors in some rare cases (encountered by Servo).

Now I tried to find information whether doing the same thing for Redox makes sense, but to be honest didn't spend more then an hour on it. Does Redox have a concept of maximum open file

[2018-03-26 11:55] Honghe opened #1173 "May I ask Why can not seek the commit `Initial commit of Rustboot-based OS` from history"
I follow thi [Initial commit of Rustboot-based OS](https://github.com/redox-os/redox/commit/0edea108a1d8112b3aa4e8ae7b3d8d41c5d0ed85) from other site, but I can not seek the this commit via `git log`.

[2018-03-26 13:05] jackpot51 commented on #1172
Yes, this should be a concern. If not for hitting the open file limit, it should be a concern for wasting kernel and randd memory. Redox has an open file limit

[2018-03-26 13:10] pitdicker commented on #1172
Thank you!

[2018-03-26 13:19] jackpot51 commented on #1173
That was a commit on an old repository. We completely rewrote the kernel in 2016, and started with a new repository

[2018-03-26 14:41] jackpot51 commented on #1173
The old history was on a branch, so it is probably possible to still find it.

[2018-03-29 15:41] jD91mZM2 opened #1174 "Tracking issue for partitioning"
Tracking issue for partitioning, which is a blocking issue for multibooting.

 - [ ] Decide on URI path for accessing partitions as files (as everything is a URI)
 - [ ] Implement GPT
 - [ ] Implement MBR
 - [ ] Make kernel respect partition bounds

[2018-04-01 23:03] aaronjeline opened #1175 "Will not start under Virtual Box w/ Windows host"
- [ X] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

Redox will not start under VirtualBox. Error:
``The virtual machine 'Redox' has terminated unexpectedly during startup with exit code 1 (0x1).``
I set up the serial port as another thread suggests, and get no output
## Environment info

Virtualbox Settings:
General: Type: Othe

[2018-04-02 07:50] ianmiell opened #1176 "'make all' failure requires PATH be set."
FWIW, my install failed with this:

[code]

so I set:

[code]

and make all worked.

[2018-04-02 08:52] ianmiell commented on #1154
I had same issues as @keawade , fixed by above advice from @liutongshuo

[2018-04-02 14:16] keawade commented on #1154
@liutongshuo's workaround got the compile going for me.

This is a pretty clunky workaround. What is the root cause, and what can be done to fix it?

[2018-04-03 02:59] xTibor commented on #1175
Could you post the full error message? VirtualBox error messages usually contain a Result Code and a Component field that shows where the error originates from.

VirtualBox also generates a log file for your VM that could be useful. (Main toolbar > Machine > Show log...) That might contain something about the cause of the problem.

I suspect this is not a Redox specific problem but something with

[2018-04-09 04:40] LaVieEstDure opened #1178 "Cant build from source on eOS. Linker error: missing references to memalign, multipled definitions for"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
Unable to build Redox due to linker issues, namely missing references to memalign and multiple definitions of `__subsf3` and `memalign` (libc problem?)

## Environment info

- Redox OS Release:
Current git upstream master branch

- Operating system:
ElementaryOS Loki (Ubuntu 16.

[2018-04-10 06:59] ernest33 commented on #1175
Work here: Launched with
Type = "Other"
Version = "Other/Unknown (64-bit)"
Hope this help :-)

[2018-04-15 05:04] deepaksirone opened #1180 "/etc/passwd is readable by non-root users"
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description
The `/etc/passwd` file containing the hashed root password is readable by non root users.

## Steps to reproduce

1. Login to the `user` account
2. cat `/etc/passwd`

## Behavior

- **Expected behavior**:
The permissions should be changed for the passwd file or a shadow file sho

[2018-04-15 06:59] boomshroom commented on #1141
The biggest issue is the fact the riscv is still an experimental LLVM target and not complete. It might be possible to compile the codebase, but it would require manually building Rust so it enables RISC-V for LLVM, or to target a prebuilt LLVM that supports it.

[2018-04-15 07:15] toxik-io commented on #1141
I was curious about doing this ages ago. But i think it was llvm that was the problem.

[2018-04-16 00:09] moreheadm commented on #1178
I'm having an identical problem on Kubuntu 16.04. I've also tried using Docker and got the same error.

[2018-04-16 01:53] moreheadm commented on #1178
I only get this error when building master. Building 0.4.1 works fine.

[2018-04-16 09:33] LaVieEstDure commented on #1178
Isn't 0.4.1 the April fools build? It should be crashy and lacking GUI. The master is like 8 commits ahead of the 0.3.5 release. I'll try and revert 8 commits and try to compile again when I get the chance

[2018-04-16 14:45] moreheadm commented on #1178
@LaVieEstDure I feel stupid now. 0.3.5 also builds on my machine FWIW.

[2018-04-18 09:52] jD91mZM2 commented on #1178
Pretty sure I'm having the same issue over here

[2018-04-20 20:56] addtheice opened #1181 "Global_asm"

[2018-04-23 05:02] moreheadm commented on #1178
I made progress on this issue. I had already tried ``make clean`` and ``make pull; make fetch`` and the same problem remained. I thought I had also tried making a fresh clone when I posted. However, later when I made a fresh clone, the master branch successfully compiled. I'm not sure what fixed the issue, but I am no longer able to reproduce it.

[2018-04-23 08:58] jD91mZM2 commented on #1178
@jackpot51 mentioned this could be because of missing newlib. I ended up using the pre-compiled GCC, newlib, etc (oops: not relibc!) by extracting the Ubuntu .deb files, and then it worked.

[2018-04-23 12:38] LaVieEstDure commented on #1178
Can confirm, tried lots, couldnt get it to compile. Recloned it and it somehow worked. Had to manually override the default nightly toolchain as Markus suggested in #1154 to get rid of the IO error (not sure why it defaults to a month old nightly) but eventually got it to compile. Yay

[2018-04-23 13:06] #1178 closed

[2018-04-28 09:32] eisterman commented on #1096
`rust` is not anymore in the Redox repository https://static.redox-os.org/pkg/x86_64-unknown-redox/

So there isn't the possibility to install Rust on Redox?

[2018-04-28 10:46] sajattack commented on #1096
@ids1024 Can explain that better than I can.

[2018-05-05 02:08] mcandre commented on #937
@eguven Does the KVM paravirtualization interface setting in VirtualBox refer to something bundled with VirtualBox, or must the user separately install KVM software components?

I tried enabling KVm paravirtualization anyway, and I continue to see a Guru crash during bootloading.

System:

* Redox 0.3.5
* VirtualBox 5.2.10
* macOS 10.13 High Sierra

[2018-05-07 09:07] eguven commented on #937
@mcandre It's under VM Settings > System > Acceleration. I didn't install any additional KVM components.

* VirtualBox 5.1.10
* OsX 10.11 El Capitan
* livedisk.iso 0.2.0

[2018-05-13 15:29] liamnaddell commented on #1086
I just got this issue as well:

[code]

```Uname -a = Linux localhost 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1 (2018-04-29) x86_64 GNU/Linux```

I used the Debian method of installing the toolchain.

I would be happy to provide any info needed.

What I tried:

Running `make clean`, then running `make all` again

How  I cloned the repo down:

[code]

[2018-05-13 15:31] liamnaddell commented on #1086
My autoconf is version 2.69
My automake is version 1.15
My gcc is version 6.3.0

[2018-05-15 03:06] liamnaddell opened #1183 "failed to load source for a dependency on `termion`"
- [x ] I agree that I have searched opened and closed issues to prevent duplicates.

I know there is another issue with this name, but this is probably due to a different cause, and that old issue is from 2017, and is closed.

--------------------

## Description

No matter how I clone down and compile redox-os, it always fails with `failed to load source for a dependency on termion`

## Environme

[2018-05-17 00:05] liamnaddell commented on #1183
I fixed the issue, writeup and solution coming soon.

[2018-05-17 02:45] liamnaddell commented on #1183
Here is my solution: Chroot images. Basically you download a linux image, chroot into it, then use that environment which comes with all the deps necessary will ensure proper building.

# Dependencies

You need qemu on the host system

# Step 2: download my image and unpack

## Download

I really really hate google, and im really sorry for not hosting it somewhere else, but for now the link is ove

[2018-05-17 02:49] #1183 closed

[2018-05-19 16:44] almindor commented on #937
Still have same issue on latest release, including with KVM set. Host is Arch Linux.

[2018-05-20 21:38] corvinux commented on #1150
I got the similar situation today trying to build Redox,

--2018-05-20 23:32:34--  http://git.savannah.gnu.org/cgit/config.git/plain/config.sub
Resolving git.savannah.gnu.org (git.savannah.gnu.org)... failed: Name or service not known.
wget: unable to resolve host address ‘git.savannah.gnu.org’
./repo.sh failed.mk/filesystem.mk:2: recipe for target 'build/filesystem.bin' failed
make: *** [build/fi

[2018-05-20 22:00] xTibor commented on #1150
Yours is a different problem, it seems like you have network issues. You might be using crap DNS servers.

[2018-05-20 22:17] corvinux commented on #1150
It resolves just fine and I'm using google's dns servers

git.savannah.gnu.org has address 208.118.235.201,

There was probably some issue with webserver on git.savannah.gnu.org. Now it's OK.

[2018-05-23 19:28] hunteke commented on #1156
From the [OpenBSD malloc man page](https://man.openbsd.org/malloc.conf.5), described under option `j` (lower case "_jay_"):

[2018-05-25 01:35] jackpot51 opened #1184 "Upstream Tokio Porting Project"
@jd91mzm2 tomorrow I would like to focus on getting the work done upstreamed. This will require doing the lowest dependencies first.

- https://github.com/fengcen/hostname/pull/5
  - https://github.com/tailhook/resolv-conf/compare/master...redox-os:master
- https://github.com/rust-lang/libc/pull/992
  - https://github.com/alexcrichton/socket2-rs/compare/master...redox-os:master
  - https://github.

[2018-05-25 04:29] jD91mZM2 commented on #1184
miow will cause a slight issue because mio is using an old version of it. It's now using socket2-rs instead of net2-rs. I'll make a separate branch that uses the latest version and hope it's compatible.

[2018-05-26 11:56] nebrelbug opened #1185 "Virtual Box won't boot."
- [x] I agree that I have searched opened and closed issues to prevent duplicates.

--------------------

## Description

I just downloaded the Redox 0.3.3 and 0.3.5 .iso files, and neither of them work when I try to run them on VirtualBox. I run under the type "other/other/unknown (64 bit)", and gave it 2048 MB of memory. In one of my tests, I created a hard disk and in the other I didn't. I trie

[2018-05-28 08:51] #1172 closed

[2018-06-01 03:26] CleanCut opened #1187 "How to Pronounce Redox"
I apologize if this is already documented somewhere and my searches missed it, but how is Redox pronounced?

I am giving both a [talk](https://conferences.oreilly.com/oscon/oscon-or/public/schedule/detail/67048) and a [half-day tutorial](https://conferences.oreilly.com/oscon/oscon-or/public/schedule/detail/67116) on Rust this summer, and I'm fairly confident I will be mentioning Redox at least onc

[2018-06-01 03:51] jackpot51 commented on #1187
reed ox is correct

[2018-06-01 15:39] CleanCut commented on #1187
👍 Thanks!

[2018-06-01 15:39] #1187 closed

[2018-06-03 10:41] malmrose commented on #1185
It needs more RAM. Give it 4096 MB.

[2018-06-03 12:02] malmrose opened #1190 "Unable to build MIO."
"make all" fails with the following error:

[code]

[2018-06-03 15:05] vvlad commented on #1190
It seems that the state of the `cookbook/recipes/netutils/source/Cargo.lock` is stale.
Try running:
[code]
and `make all` afterwards. It worked on my machine.

[2018-06-03 22:20] malmrose commented on #1190
Yup, that fixed it.

I always do "make pull && make fetch" to update, but is there something else I need to do?

[2018-06-06 09:12] bioharz commented on #1185
I't still crashing with the same enviroment. 4096MB RAM

[VBox.log](https://github.com/redox-os/redox/files/2075465/VBox.log)
![vbox](https://user-images.githubusercontent.com/19763861/41028731-58a01b14-697a-11e8-9d6a-66e156fe7e5c.png)

[2018-06-06 11:13] malmrose commented on #1185
Sorry, my comment on RAM was wrong. I'm running fine with only 1024 MB.

The next line you should see says "640x480@32: Is this OK?..." so it seems to be dying when it's getting video resolutions for you.

[2018-06-06 13:48] nebrelbug commented on #1185
@malmrose Do you have any ideas why that would be happening?

[2018-06-07 19:42] jackpot51 opened #1191 "Migrate to GitLab"
- [ ] Decide to be self-hosted or not
- [ ] Script the migration of all redox-os repos
- [ ] Perform migration
- [ ] Update cookbook to new location
- [ ] Note the new location of repos in all GitHub projects
- [ ] Produce blog post explaining migration
- [ ] Archive GitHub projects

[2018-06-07 20:16] lordkeks commented on #1191
Could you explain a little about why you're leaving github, and why gitlab is better?

[2018-06-07 20:31] xacrimon commented on #1191
'cause microsoft

[2018-06-07 20:36] jackpot51 commented on #1191
GitLab is an MIT-licensed self-hosted solution for the problem GitHub solves. It provides a similar level of features and support. Redox OS will always support and utilize FOSS where possible. We also use Discourse, Mattermost, and Jenkins for our stack, with great success.

Freedom is our key principle. Having a significant piece of our infrastructure be proprietary is contrary to our principles.

[2018-06-07 20:51] BafDyce commented on #1191
1. I really welcome this decision!
2. I think you should add a bullet point `Inform contributors in advance`
    - should be done once you know more details (when the migration will take place and where redox will be hosted in the future)
    - should be done at least ~2-3 weeks prior the migration, so that people who are working on PRs, new features, etc. have some time to migrate themselves (req

[2018-06-07 21:12] xliiv commented on #1191
FOSS FTW!!!

[2018-06-07 23:44] rogersachan commented on #1191
@jackpot51 If you're moving to GitLab, you might want to consider switching out Jenkins for GitLab CI.

[2018-06-08 06:05] toxik-io commented on #1191
I'd rather that gitlab be the actual repo, and github be the mirror

[2018-06-09 16:17] nebrelbug commented on #1185
BTW, I ended up just using Qemu and it works fine. Why would it work on one and not the other?

[2018-06-10 05:53] toxik-io commented on #1185
my... rookie guess (and a stab in the dark) is that... they didn't anticipate something in virtualbox?

whaaaaa?

is there a good way to send crash reports in their entirety somewhere so that we can view em? or the actual crashed state of the VM? That would seem to be helpful (and super convenient for people to report bugs :) )

[2018-06-12 13:16] itmuckel commented on #1191
Really? So what if Microsoft buys GitLab.com? You migrate it again to some other site?

By the way: GitLab is really much better than GitHub. Better structure, overview, workflow.

[2018-06-12 14:14] jackpot51 commented on #1191
We are self hosting... So I could give a fuck if Microsoft buys GitLab.com. We have the source, and that is true freedom

[2018-06-12 14:39] toxik-io commented on #1191
@itmuckel while gitlab is very centralized, you can still run your own instance. Everything being on github in package databases is a problem.

[2018-06-12 17:59] itmuckel commented on #1191
@jackpot51 I have the source too. 😏 Whatever. I won't follow this project anymore.

[2018-06-12 18:12] jackpot51 commented on #1191
k

[2018-06-13 04:18] r3b3lalliance commented on #937
Hello,
I just downloaded the .iso that I got from here: https://github.com/redox-os/redox/releases/tag/0.3.5

Trying to run it on a VirtualBox virtual machine.

![image](https://user-images.githubusercontent.com/40224749/41330080-26ff8aa2-6e86-11e8-9afe-00efebdcbc22.png)

Hope you see my virtualbox settings.  Any help appreciated! :)

[2018-06-13 06:47] r3b3lalliance commented on #1185
Hello,
I just downloaded the .iso that I got from here: https://github.com/redox-os/redox/releases/tag/0.3.5

Trying to run it on a VirtualBox virtual machine.
![image](https://user-images.githubusercontent.com/40224749/41334557-e3aa6316-6e9a-11e8-80ef-e7aa53e60357.png)

Hope you see my virtualbox settings. Any help appreciated! :)

VirtualBox v5.2.12, Win10 host

All help appreciated.  Thanks!

[2018-06-13 07:38] minecrawler commented on #1191
@jackpot51 having to register yet again in some extra place just to follow progress and issues and sometimes chip in for small bugfixes is annoying, so if you self-host, you will lose people. People who might have tested stuff, found bugs, helped answer question, document features, etc.

[2018-06-13 08:04] itmuckel commented on #1185
This is clearly VirtualBox's fault! And yours for using a non free operating system! And for not using QEMU! You're betraying the (free) Open Source Movement! Pay hommage to the movement!

![grafik](https://user-images.githubusercontent.com/18561536/41337860-b3cce366-6ef0-11e8-883d-172139229e85.png)

This works. Just uncheck the acceleration options you have and give it more base memory.
Also when

[2018-06-13 08:11] toxik-io commented on #1185
Hey, @itmuckel, can you focus on the issue at hand? Disliking the move goes in the other issue. But thanks for the rest of the answer.

[2018-06-13 08:46] r3b3lalliance commented on #1185
@itmuckel disable Hyper-V in Windows?  ugh would have to go down that rabbit hole...

[2018-06-13 09:00] eguven commented on #937
@r3b3lalliance Are you having the same issue? Did you try changing acceleration from Hyper-V to KVM?

[2018-06-13 09:05] r3b3lalliance commented on #937
Yes tried that. Did not work:

https://github.com/redox-os/redox/issues/1185#issuecomment-396852810

[2018-06-13 09:06] r3b3lalliance commented on #937
Perhaps HYPERV has to be disabled in Win10!  :(

[2018-06-13 10:19] itmuckel commented on #1185
http://lmgtfy.com/?q=Windows+10+disable+Hyper-V

[2018-06-13 12:32] jeffvandyke commented on #1191
One thing I appreciate even in self hosted GitLab instances is the ability to sign in with GitHub or other OmniAuth providers to make it easier to contribute without going through registration - see GitLab's [OmniAuth documentation page](https://docs.gitlab.com/ce/integration/omniauth.html), and I think it works on both EE and CE.

[2018-06-13 14:40] ric96 commented on #1190
this helped me:
``` cd cookbook/recipes/drivers/source/; cargo update ```